$purple: #5e3a7e;
$pink: #f2566e;
$blue: #45acce;
$white: #ffffff;
$black: #000000;
$yellow: #fbad41;

$dark: #292929;

$basefont_size: 16px;
$max_width: 1200px;


$transition_speed: 250ms;

// Define breakpoints
$breakpoint-small: 600px;
$breakpoint-medium: 900px;
$breakpoint-large: 1200px;
$breakpoint-x-large: 1800px;
