#page.sticky-container {
	position: relative;
}


.full_width {
	width: 100%;
	max-width: 100vw;
}

.wide_width {
	width: 96vw;
	max-width: $max_wide_page_width;
	margin-left: auto;
	margin-right: auto;
}

.contained_width {
	width: 85vw;
	max-width: $max_body_text_width;
	margin-left: auto;
	margin-right: auto;
}