

.section_hero {
	display: flex;
	width: 100%;
	max-width: 100vw;
	margin-top: -250px;
	padding-top: 150px;
	min-height: 700px;

	@include tablet-down {
		min-height: 500px;
	}

	@include phone-only {
		min-height: 270px;
	}

	body.page-homepage.theme-light & {
		background: $subtle-pink-light;
	}


	> div {
		width: 50%;
		padding-top: 50px;

		img, svg {
			max-width: 100%;
		}

	}

	.hero_text-container {
		padding: 3em 1.5em 0 1.5em;
		margin-top: 100px;
		margin-bottom: -2em;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		text-wrap: balance;

		@include phone-only {
			padding-top: 1em;
		}
	}

	.hero_image-container {
		position: relative;
		text-align: center;

		svg {
			position: absolute;
			width: 100%;
			height: auto;
			max-height: 92vh;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;

		}

		img {
			position: relative;
			z-index: 9;
			padding: 12% 14% 0 15%;
			margin-bottom: 3em;
			@include themify($themes) {
				/* filter:
						drop-shadow(3px 2px 0 rgba( themed( 'accentYellow' ), 0.97 ) )
						drop-shadow(6px 4px 0 rgba( themed( 'accentPink' ), 0.97 ) )
					//	drop-shadow(9px 6px 0 rgba( themed( 'accentBlue' ), 0.97 ) )
						drop-shadow(15px 10px 0 rgba( themed( 'accentPurple' ), 0.87 ) )
					//	drop-shadow(15px 8px 20px rgba( themed( 'accentPurple' ), 0.57 ) )
					//	drop-shadow(15px 8px 20px rgba( themed( 'accentPurple' ), 0.87 ) )
						drop-shadow(-10px 8px 28px rgba( 0, 0, 0, 0.23 ) )
					; */
			}

			-webkit-mask: linear-gradient(168deg,
					red 70%,
					transparent 85%);
			mask: linear-gradient(168deg,
					red 70%,
					transparent 85%);

		}
	}
}