

.more_content_section {
	display: block;
	padding: 2em;


	@include themify($themes) {
			background: themed('subtlePurpleBG');
		}

	.more_content_header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	
}