/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/

body p {
  @apply dark:text-white text-foreground;
}

body.nav-fixed-top {
  #siteNavigation {
    @apply fixed top-0 bg-white opacity-90 dark:bg-igb-black;
    z-index: 999;
  }

  #content {
    margin-top: 0;
  }
  #topNav {
    display: none;
  }

  .search-toggle {
    display: block;
  }
}