/**
 * Custom `@font-face` rules
 *
 * These will be added immediately before Tailwind’s `base` layer.
 */

 @layer base {
  h1,h2,h3,h4,h5,h6,p,ul,li,a {
    font-family: 'Poppins',sans-serif;
  }
  h1,h2,h3,h4,h5,h6 {
      @apply font-bold leading-normal;
  }
  p,ul {
      @apply font-normal;
  }

  h1 {@apply text-6xl mb-5 text-igb-purple dark:text-igb-pink;}
  h2,h3, .wp-block-cover h2, .wp-block-cover h3 {@apply text-5xl mb-5 text-igb-purple dark:text-igb-pink;}
  h3, .wp-block-cover h3 {@apply text-3xl;}
  h4,h5,h6 {@apply text-base mb-2 text-white dark:text-igb-orange;}

  p {
    @apply mb-5;

    font-size: clamp(0.875rem, 2vw, 1rem);
  }
  .wp-block-cover p {
      @apply dark:!text-white;
  }
  .wp-block-cover h2, .wp-block-cover h3 {@apply text-5xl mb-5 !text-igb-purple !dark:text-igb-pink !important; }

  @media screen and (max-width:969px){
    h1 {@apply text-3xl; line-height: 1;}
    h2 {@apply text-2xl;}
    h3 {@apply text-lg;}
    h4,h5,h6 {@apply text-base leading-[1.5];}
  }

  a {
    &:hover {
      @apply text-igb-pink;
    }
  }

  @screen lg {
    h1 {
      @apply text-6xl;
    }
  }

  @screen md {
    h4 {
      @apply text-base leading-[16px] mb-4;
      letter-spacing: 0.06em;
    }
  }
}

