/**

for a11y slider "splide"

https://splidejs.com/

*/

@import url('https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css');


.splide__track {
	-webkit-mask: linear-gradient(to right,
					transparent 0%,
					red 5%,
					red 95%,
					transparent 100%);
			mask: linear-gradient(to right,
					transparent 0%,
					red 5%,
					red 95%,
					transparent 100%);
}
.horizontal_slider {
	&.splide__list {
		padding: 0 5% !important;


	}

	.slide {
		background-size: cover;

		a {
			display: flex;
			height: 100%;
			justify-content: center;
			align-items: center;
			padding: 2em;
			text-wrap: balance;
		}
	}
}