/*
* header styles
*
*	1. core site header styles
*	2. IGB logo
*	3. light/dark toggle switch
*	4. main nav toggle button
*
*/

// =============================================	1. core site header styles


.site_main_header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 0;
	min-height: 90px;
	z-index: 99999;
	padding: 0.75rem 1.5em;
	transition: all 250ms ease-in-out;

	&.smaller {
		@include themify($themes) {
			background: rgba(themed('backgroundColor'), 0.79);
			color: themed('textColor');
		}
		box-shadow: 0 1px 15px rgba( 0, 0, 0, 0.35 );
		backdrop-filter: blur(8px);
		padding: 0.5rem 1.5em;

		@include phone-only {
			min-height: 67px;
		}

		.menu_is_open & {
			background: transparent;
			box-shadow: none;
			color: $white;
		}
	}

	.menu_is_open & {
		color: $white;
	}

	.flex-row {
		justify-content: space-between;
		align-items: stretch;
	}

	.header_right_side {
		display: flex;
		//flex: 1;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;

		@include phone-only {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 50%;
		}


		nav {
			margin: auto;
		}
	}
}


// =============================================	2. IGB logo
#IGB_MAIN_LOGO {
	max-width: 20vw;
	width: 200px;
	padding: 1rem 0;
	transition: all 200ms ease-in-out;
	z-index: 99999;

	.smaller & {
		width: 130px;
		max-width: 20vw;
		margin-bottom: -0.5em;
	}

	svg {
		max-width: 100%;
		height: auto;
	}
}

.logo_purple {
	@include themify($themes) {
		fill: themed('logoPurpleColor');
		stroke: themed('logoPurpleColor');
		stroke-width: 0.2;
	}

	.menu_is_open & {
		fill: $white;
		stroke: $white;
	}
}

.logo_blue {
	@include themify($themes) {
		fill: themed('logoBlueColor');
		stroke: themed('logoBlueColor');
		stroke-width: 0.2;
	}

	.menu_is_open & {
		fill: $white;
		stroke: $white;
	}
}

.logo_pink {
	@include themify($themes) {
		fill: themed('logoPinkColor');
		stroke: themed('logoPinkColor');
		stroke-width: 0.2;
	}

	.menu_is_open & {
		fill: $white;
		stroke: $white;
	}
}

.logo_yellow {
	@include themify($themes) {
		fill: themed('logoYellowColor');
		stroke: themed('logoYellowColor');
		stroke-width: 0.2;
	}

	.menu_is_open & {
		fill: $white;
		stroke: $white;
	}
}


// =============================================	3. light/dark toggle switch

label.dark-toggle {
	display: flex;
	justify-content: space-evenly;

	> span {
		display: inline-block;
		padding: 0 0.5em;
	}

	input[type="checkbox"] {
		opacity: 0;
		height: 0;
		width: 0;
		overflow: hidden;
	}
}
.dark-toggle__switch {

	--width: 44px;
	--height: 24px;
	--padding: 4px;

	display: block;
	overflow: hidden;
	position: relative;
	background-color: black;
	width: var(--width);
	height: var(--height);
	border: 1px solid white;
	border-radius: 1rem;

	&:focus {
		box-shadow: 0 0 0 2px white;
	}

	&:before {
		content: "";
		position: absolute;
		z-index: 3;
		display: inline-block;
		background-color: white;

		width: calc(var(--height) - var(--padding) - var(--padding));
		height: calc(var(--height) - var(--padding) - var(--padding));
		top: 50%;
		left: var(--padding);
		border-radius: 50%;
		transform: translateY(-50%);
		transition: all .25s ease-in-out;

		.preload & {
			// remove the transition on the intial page load
			transition: none;
		}

		input:checked + & {
			transform: translateY(-50%) translateX(calc(var(--width) / 2 - var(--padding) / 2));
		}
	}

	&:after {
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 2;

		display: inline-block;
		background-color: black;
		transition: all .25s ease-in-out;
		transform: translateY(-50%);

		width: 1px;
		height: 1px;
		border-radius: 50%;

		.preload & {
			// remove the transition on the intial page load
			transition: none;
		}

		body.theme-dark & {
			z-index: 4;
			width: calc(var(--width) * 0.7);
			height: calc(var(--width) * 0.7);
		}
	}
}


// =============================================	4. main nav toggle button

#menu_toggle_button {
	width: 55px;
	height: 55px;
	padding: 5px;
	//margin: 2em 0;
	border: 2px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	transition: all 200ms ease-in-out;
	z-index: 9999;
	background: transparent;
	position: relative;
	top: auto !important;

	@include themify($themes) {
		color: themed('textColor');
	}

	.menu_is_open & {
		color: $white;
	}


	@include phone-only {
		padding: 10px;
		border: 2px solid currentColor;
	}

	&:hover,
	&:target {
		border: 2px solid currentColor;
	}

	.menu_line {
		transition: all 200ms ease-in-out;
		stroke-width: 3;

		@include themify($themes) {
			stroke: themed('textColor');
		}

		.menu_is_open & {
			stroke: $white;
		}
	}

	&.menu_open {

		.middle_line {
			opacity: 0;

		}
	}
}