/**
 *	styles for looped content
 *
 */


 // global

 h3.item_title {
	font-size: $font-size-md;
	font-weight: 300;
	display: inline-block;
	text-wrap: balance;

	a &,
	a:visited &,
	a,
	a:visited  {
		@include themify($themes) {
			text-decoration-color: rgba(themed('linkColor'), 0.15);
		}
	}
 }

 // grid view

 .content_grid_container {
	width: 90%;
	margin: 0 auto;

	> article {
		padding: 1em;
		text-decoration: none;

		a,
		a:visited {
			text-decoration: none;
			border: 3px solid transparent;
			display: block;
			border-radius: 5px;

			@include themify($themes) {
				background: rgba(darken( themed('backgroundColor'), 10 ), 0.25);
				box-shadow: themed( 'subtleShadow' );
			}

			&:hover,
			&:focus,
			&:target {
				outline: none;

				@include themify($themes) {
					background: rgba(darken(themed('backgroundColor'), 10), 0.5);
					border: 3px solid rgba(themed('linkColor'), 0.5);
					box-shadow: themed('largeShadow');
				}

				img {

					@include themify($themes) {
						filter: none;
						border: 1px solid rgba(themed('textColor'), 0.5);
					}
				}
			}
		}
	}

	.group_container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 5px solid transparent;

		img {
			width: 100%;
			height: auto;
			transition: all 780ms ease-in-out;

			@include themify($themes) {
				border: 1px solid rgba(themed('linkColor'), 0.25);
				filter: themed( 'duotoneFilter' );
			}

		}

		h3 {
			align-self: flex-start;
			flex: none;
			display: inline-block;
			padding: 1.5em;
			margin: 0;
		}
	}
 }