/**
 * main nav
 *
*/

// utility nav

#site_utility_nav {
	align-self: center;
	flex: 1;
	padding: 0.25em 1em 0.25em 0;
	margin: -1.5em  3em 0 3em;
	font-size: $font-size-sm;
	transition: all 450ms ease-in-out;
	transition-delay: .5s;

	@include themify($themes) {
		background-image: linear-gradient( 118deg,
		rgba( themed('utilityNavBGColor'), 0 ) 0,
		rgba(themed('utilityNavBGColor'), 0) 4%,
		rgba(themed('utilityNavBGColor'), 1) 4.1%,
		rgba(themed('utilityNavBGColor'), 1) 65%,
		rgba(themed('utilityNavBGColor'), 0) 98%,
		);
	}

	&.hidden {
		opacity: 0;
		max-width: 0;
		overflow: hidden;
		max-height: 0;
		padding: 0;
		margin: 0;
		transition: all 150ms linear;
		transition-delay: 0s;
	}


	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	li {
		flex: 1;

		a,
		a:visited  {
			display: block;
			text-decoration: none;
			text-align: center;

			@include themify($themes) {
				color: themed( 'utilityNavLinkColor' );
				//background: rgba(themed('mainNavBGColor'), 0.55);
			}

			&:hover,
			&:focus,
			&:target {
				@include themify($themes) {
					color: themed( 'utilityNavLinkHoverColor' );
					background: rgba(themed('mainNavBGColor'), 0.55);
				}
			}
		}

		&.donate-button {
			a,
			a:visited {
				margin: -0.5em 0;
				padding: 0.5em;
				border-radius: 4px;

				@include themify($themes) {
					background: themed( 'accentButtonBGColor' );
				}
			}
		}
	}
}

// main 'mega' nav
// overall styles, main background, transitions, etc.

nav.two-column {
	display: flex;
	height: 100%;

	> div {
		width: 50vw;

		position: relative;

		&.right-column {

			overflow: hidden;
		}
	}

}


#site_main_navigation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;


	&:before,
	&:after {
		content: "";
		position: fixed;
		width: 100vw;
		height: 100vh;
		backdrop-filter: blur(10px);
		border-bottom-left-radius: 200%;
		transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		transform: translateX(100%) translateY(-100%);
		z-index: -1;

		@include themify($themes) {
			background: rgba( themed('mainNavBGColor'), 0.75 );
		}
	}

	&:after {
		transition-delay: 0s;
	}

	&:before {
		transition-delay: .2s;
	}


	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a,
	a:visited {
		text-decoration: none;

		@include themify($themes) {
			color: themed('mainNavLinkColor');
		}

		&:hover,
		&:focus {
			@include themify($themes) {
				color: themed('mainNavLinkHoverColor');
			}
		}
	}

	.menu_is_open & {
		visibility: visible;

		&:before,
		&:after {
			transform: translateX(0%) translateY(0%);
			border-radius: 0;
		}

		&:after {
			transition-delay: .1s;
		}
		&:before {
			transition-delay: 0s;
		}
	}


	ul#menu-main-navigation {
		position: fixed;
		visibility: hidden;
		bottom: 0;
		width: 100%;
		transition-delay: .4s;
		height: calc( 100vh - 100px );
		display: flex;
		flex-direction: column;
		overflow-x: auto;



		@include phone-only {
			height: calc( 100vh - 70px );
		}

		@include tablet-up {
			height: calc( 100vh - 110px );
			width: 50vw;
		}

		@include desktop {
			height: calc( 100vh - 130px );
		}


		> li.menu-item {
			opacity: 0;
			font-weight: 900;
			line-height: 1.15;
			transform: translate(100px, 0%);
			transition: opacity .2s ease, transform .3s ease;
			margin-top: 0;
			margin-bottom: 0;
			flex: 1;

			.menu_is_open & {
				opacity: 1;
				transform: translateX(0%);
				transition: opacity .7s ease, transform 1s ease;
			}
		}


		.menu_is_open & {
			visibility: visible;
		}
	}


}

// styling the menu items, level 1

#site_main_navigation {

	font-size: $font_size_md;
	line-height: 1;
	font-weight: 500;

	@include tablet-up {
		> ul {
			width: 50vw;

		}
	}


	.larger {

		img {
			max-height: none;
		}
		a,
		a:visited {
			font-size: $font_size_xl;
			font-weight: 700;
		}

	}

	img {
		max-height: 13vh;
		height: 100%;
		width: 150px;
		max-width: 25vw;
		object-fit: contain;
		object-position: center bottom;
		overflow: visible;
		margin: 1px -0.5em -1px -1em;
		align-self: flex-end;

		@include tablet-up {
			max-width: 200px;
		}
	}

	ul#menu-main-navigation {
		> li.menu-item {
			display: flex;
			align-items: stretch;
			justify-content: space-around;
			padding: 0;
			width: 100%;
			border-top: 1px solid rgba( 255, 255, 255, 0.15);
			border-bottom: 1px solid rgba( 0, 0, 0, 0.3 );
			background-size: 200% 100%;
			background-position:  80% 0;
			transition: all 200ms ease-in-out;

			@include themify($themes) {
				background-image: linear-gradient( 90deg, darken( rgba( themed('mainNavItemBGColor'), 1 ), 10 ) 40% , rgba( themed('mainNavBGColor'), 0 )  60% );
			}

			@include tablet-up {
				padding: 0 0 0 2em;
				width: 50vw;
			}

			&:hover {

				@include themify($themes) {
					background: darken( rgba(themed('mainNavItemBGColor'), 0.9 ), 10 );

				}

			}

			a {
				display: flex;
				align-items: center;
			}

			a + a {
				padding: 1em;
				flex: 1;
				text-align: left;

			}

			a.dropdown_toggle {
				flex: none;
				border-left: 1px solid rgba( 255, 255, 255, 0.32);
				text-align: center;
				width: 100px;

				&.open {
					svg {
						transform: rotate(0deg);
					}
				}


				svg {
					margin: auto;
					transform: rotate(-180deg);
					transition: all 250ms ease-in-out;
				}

				&:hover {
					@include themify($themes) {
						background: darken(rgba(themed('mainNavItemBGColor'), 1), 5);

					}
				}
			}
		}
	}

	.mobile_only {
		@include tablet-up {
			display: none;
		}
	}

}

ul.sub-menu {
	flex-direction: column;
	font-size: $font_size_base;
	display: none;
	margin: 0;
	padding: 0;

	&.active {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-top: 500px;
		height: calc( 100vh - 500px );

		ul#menu-main-navigation & {
			display: none;
		}
	}

	> * {
		flex: 1;
	}

	a {
		padding: .5em 2em;
	}

}

