/**
 * main nav
 *
*/

@import '../../node_modules/hc-offcanvas-nav/src/scss/_core.scss';
@import '../../node_modules/hc-offcanvas-nav/src/scss/toggle';
//@import '../../node_modules/hc-offcanvas-nav/src/scss/theme-carbon';

// utility nav

#site_utility_nav {
	align-self: center;
	flex: 1;
	padding: 0.25em 1em 0.25em 0;
	margin: -1.5em  3em 0 3em;
	font-size: $font-size-sm;
	transition: all 450ms ease-in-out;
	transition-delay: .5s;

	@include themify($themes) {
		background-image: linear-gradient( 118deg,
		rgba( themed('utilityNavBGColor'), 0 ) 0,
		rgba(themed('utilityNavBGColor'), 0) 2%,
		rgba(themed('utilityNavBGColor'), 1) 2.1%,
		rgba(themed('utilityNavBGColor'), 1) 65%,
		rgba(themed('utilityNavBGColor'), 0) 98%,
		);
	}

	&.hidden {
		opacity: 0;
		max-width: 0;
		overflow: hidden;
		max-height: 0;
		padding: 0;
		margin: 0;
		transition: all 150ms linear;
		transition-delay: 0s;

		@include tablet-up {
			opacity: 1;
			max-width: none;
			max-height: none;
			padding: 0.25em 1em 0.25em 0;
			margin: -1.5em  3em 0 3em;
		}
	}


	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	li {
		flex: 1;

		a,
		a:visited  {
			display: block;
			text-decoration: none;
			text-align: center;
			font-weight: 400;
			margin: 0 1em;

			@include themify($themes) {
				color: themed( 'utilityNavLinkColor' );

			}

			&:hover,
			&:focus,
			&:target {
				@include themify($themes) {
					color: themed( 'utilityNavLinkHoverColor' );
					background: rgba(themed('utilityNavBGHoverColor'), 0.55);
				}
			}
		}

		&.donate-button {
			a,
			a:visited {
				margin: -0.5em 0;
				padding: 0.5em;
				border-radius: 4px;

				@include themify($themes) {
					background: themed( 'primaryButtonBGColor' );
					color: themed('primaryButtonTextColor');
				}

				&:hover,
				&:focus,
				&:target {
					@include themify($themes) {
						background: themed('primaryButtonBGHoverColor');
						color: themed('primaryButtonTextHoverColor');
					}
				}
			}
		}
	}
}

// main 'mega' nav using "hc offcanvas menu"
// https: //github.com/somewebmedia/hc-offcanvas-nav

.hc-offcanvas-nav {

	line-height: 1;
	font-weight: 300;
	@include themify($themes) {
		color: themed('mainNavLinkColor');
	}

	.menu_is_open & {
		z-index: 9999;
		visibility: visible;

		&:before,
		&:after {
			transition-delay: 0s;
			transform: translateX(0%) translateY(0%);
			border-radius: 0;
		}

		&:after {
			transition-delay: .1s;
		}

		&:before {
			transition-delay: 0s;
		}
	}



	&:before,
	&:after {
		content: "";
		position: fixed;
		width: 100vw;
		height: 100vh;
		backdrop-filter: blur(10px);
		border-bottom-left-radius: 200%;
		transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		transform: translateX(100%) translateY(-100%);
		z-index: -1;

		@include themify($themes) {
			background: rgba(themed('mainNavBGColor'), 0.75);
		}
	}

	&:after {
		transition-delay: 0s;
	}

	&:before {
		transition-delay: .2s;
	}


	a,
	a:visited {
		font-size: $font_size_lg;
		font-weight: 400;
		text-decoration: none;

		@include themify($themes) {
			color: themed('mainNavLinkColor');
		}

		&:hover,
		&:focus {
			@include themify($themes) {
				color: themed('mainNavLinkHoverColor');
			}
		}
	}


	.larger {

		img {
			height: 15vh;
			width: 15vh;
			margin-left: 1.75rem;
		}

		a,
		a:visited {
			font-size: $font_size_xxl;
			font-weight: 600;
			padding-left: 2em;
		}

	}

	.IGB_site_main_navigation_menu > li.nav-item {
		&:nth-of-type(4n + 1) {
			img {
				background: $purple;
			}
		}
		&:nth-of-type(4n + 2) {
			img {
				background: $pink;
			}
		}
		&:nth-of-type(4n + 3) {
			img {
				background: $yellow;
			}
		}
		&:nth-of-type(4n + 4) {
			img {
				background: $blue;
			}
		}
	}

	img {
	//	max-height: 11vh;
	//	height: 100%;
	//	min-width: 150px;
	//	max-width: 35%;

		height: 13vh;
		width: 13vh;
		background: $yellow;
		border-radius: 50%;
		object-fit: contain;
		object-position: center bottom;
		overflow: visible;
		margin: 1px 1.5em -1px 1em;
		align-self: flex-end;

		@include tablet-up {
			//max-width: 50%;
		}
	}

	ul.IGB_site_main_navigation_menu {
		margin-top: 130px;
		height: calc( 100vh - 132px );
		width: 50vw;
		display: flex;
		flex-direction: column;

		@include tablet-down {
			width: 100%;
		}

		li {
			border-top: 1px solid rgba(255, 255, 255, 0.1);
			border-bottom: 1px solid rgba(0, 0, 0, 0.3);
			transition: all 200ms ease-in-out;
			flex: 1;
			display: flex;
		}

	}

	li:not(.custom-content) a {
		display: flex;
	}

	.nav-wrapper {
		height: 100%;
		width: 50vw;

		@include themify($themes) {
			background: rgba(themed('mainNavBGColor'), 0.85);
		}

		@include tablet-down {
			width: 100%;
		}
	}

	.nav-item-wrapper {
		display: flex;
		align-items: stretch;
		flex: 1;

		@include themify($themes) {
			background-image: linear-gradient(90deg, darken(rgba(themed('mainNavItemBGColor'), 1), 10) 3%, rgba(themed('mainNavBGColor'), 0) 25%);
		}

		a,
		a:visited {
			&:hover,
			&:target,
			&:focus {
				@include themify($themes) {
					background: darken(rgba(themed('mainNavItemBGColor'), 0.9), 10);

				}
			}
		}

		a.nav-item-link {
			flex: 1;
			padding: 0.2em 1rem;

			span {
				align-self: center;
			}
		}

		a.nav-next {
			padding: 1em 2em;
			display: block;
			align-self: stretch;
			border-left: 1px solid rgba(255, 255, 255, 0.2);
			display: flex;
			flex-direction: column;
			justify-content: center;

			span {
				border: solid currentColor;
				border-width: 0 5px 5px 0;
				display: inline-block;
				padding: 5px;
				transform: rotate(-45deg);
			}
		}
	}

	.nav-content {
		@include themify($themes) {
			background: rgba(themed('mainNavBGColor'), 0.85);
		}

		.nav-content {
			display: flex;
			flex-direction: column;

			> ul {
				flex: 1;
				display: flex;
				flex-direction: column;

				li {
					flex: 1;
				}
			}

			a.nav-back-button {
				flex: 1;
				font-weight: 800;
				padding: 1em 2em;
				text-align: right;
				justify-content: flex-end;
				font-style: italic;
			}
		}
	}
	h2.level-title {
		margin-top: 150px;
		padding: 0 2em;
		opacity: 0.75;
	}

}

// breadcrumb nav

nav.breadcrumb_navigation {
	font-size: $font-size-sm;

	body.page-homepage &,
	body.page-browse-content &,
	body.single-glossary & {
		display: none;
	}

	ul {
		margin: 3em 0 -3em 0;
		padding: 0;
		list-style: none;
		display: flex;

		li {

			transform: skewX(-26deg);

				@include themify($themes) {

					border-right: 2px solid rgba( themed('linkColor'), 0.25);
				}


			&:last-child {
				border-right: none;
			}

			a,
			span {
				display: inline-block;
				padding: 0.2em 1.1em;
				transform: skewX( 26deg);
			}
		}
	}
}

// previous / next links
.next_previous_glossary {
	opacity: 0.5;
	transition: all 150ms ease-in-out;
	@include themify($themes) {
		background: rgba(themed('subtleGreyBG'), 0.85);
	}

	&:hover {
		opacity: 1;
	}

	&.top {
		margin-top: 7em;
	}
}
.nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;



	> * {
		flex: 1;
		width: 49%;

		@include themify($themes) {
			border-left: 1px solid rgba( themed( 'linkHoverColor' ), 0.96 );
		}

		&:first-child {
			border-left: none;
		}

		a {
			display: block;
			font-weight: 200;
			padding: 1em 2em;

			&:hover,
			&:focus,
			&:target {
				@include themify($themes) {
					background: rgba(themed('footerLinkHoverColor'), 0.1);
				}
			}

			em {
				font-style: normal;
				font-weight: 500;
			}
		}
	}

	.nav-next {

		text-align: right;
	}
}