/**
 * main nav
 *
*/

.mobile_menu_only {
	display: none;

	@include tablet-down {
		display: initial;
	}
}

// utility nav

#site_utility_bar {
	align-items: center;
	justify-content: flex-end;
	z-index: 9999;
	position: relative;
	//margin-top: -2px;
	@include themify($themes) {
		background: linear-gradient( 142deg, themed( 'utilityNavBGColor' ) );
	}

	a {
		text-decoration: none;
		@include themify($themes) {
			color: themed( 'utilityNavLinkColor' );
		}

		&:hover,
		&:focus {
			@include themify($themes) {
				color: themed( 'utilityNavLinkHoverColor' );
				//text-shadow: none;
			}
		}
	}


	nav#utility_navigation {

		font-size: $font-size-sm;

		ul, li {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		ul {
			display: flex;
			align-items: center;
		}

		a {
			padding: 0.24em 1em;
		}

		.donate_button {
			font-size: $font-size-base;
			transform: scale(1.25);

			a,
			a:visited {
				display: inline-block;
				font-weight: 600;
				border-radius: 4px;
				margin: -8px 1em 0 1em;
				@include themify($themes) {
					background: themed('accentPink');
					color: $white;
				}


				&:hover,
				&:focus,
				&:target {
					transform: skew(-2deg);
					@include themify($themes) {
						background: themed('accentPurple');
						color: $white;
					}
				}
			}
		}
	}
}

header.site_main_header {
	.header_center {
		position: relative;

		a,
		a:visited {
			border-radius: 4px;
			@include themify($themes) {
				color: themed( 'mainNavLinkColor' );
				background: themed( 'mainNavItemBGColor' );
			}

			&:hover,
			&:focus,
			&:target {
				@include themify($themes) {
					color: themed( 'mainNavLinkHoverColor' );
					background: themed( 'mainNavItemBGHoverColor' );
					text-shadow: 0 1px 0 rgba( themed('textShadowBelow'), 0.75 );
				}
			}
		}

		li.menu-item-has-children {
			&:hover,
			&:focus,
			&:target {
				@include themify($themes) {
					background: rgba( themed( 'mainNavItemBGHoverColor' ), 0.15 );
				}
			}
		}

	}

	a.dropdown_toggle {

		svg {
			transform: scale(1.15);
			transition: all 170ms ease-in-out;
		}


		&.open {

			svg {
				transform: scale(1.25) rotate(-90deg);
			}

		}
	}


	.current-menu-item {
		> a,
		> a:visited {
			@include themify($themes) {
				text-shadow: 0 1px 0 rgba( themed('textShadowBelow'), 0.75 );
				color: themed( 'mainNavLinkHoverColor' );
				background: themed( 'mainNavItemBGHoverColor' );
			}
		}
	}

	.current-menu-ancestor {
		> a,
		> a:visited {
			@include themify($themes) {
				background: rgba( themed( 'mainNavItemBGHoverColor' ), 0.15 );
			}
		}
	}



	// desktop (tablet up) styles of main nav
	@include tablet-up {
		nav.main_nav_container {
			text-align: center;
			font-size: $font-size-md;
			line-height: 1.1;
			padding: 10px 29px 0 193px;
			position: absolute;
			width: 100%;
			margin: 0 auto;


			ul, li {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			> ul {

				padding-left: 20px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				> li {
					margin: 0 4px;
					display: flex;
					flex: auto;
					border-radius: 4px;
					@include themify($themes) {
						border: 1px solid rgba( themed('backgroundColor'), 0.75 );
						box-shadow: themed( 'subtleShadow' );
					}


					> a {
						padding: 0.25em;
						flex: 1;
					}
				}
			}

			a,
			a:visited {
				font-weight: 400;
				text-decoration: none;

			}
			.menu-item-has-children {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;
				justify-content: space-between;

				> a {
					flex: 1;
				}

				a.dropdown_toggle {
					flex: none;
					padding: 0 0.5em;
					margin-left: 1px;
					display: flex;
					align-items: center;
					@include themify($themes) {
						border-left: 1px solid rgba(themed('mainNavLinkColor'), 0.25 );
						border-right: 1px solid rgba(themed('mainNavLinkColor'), 0.05 );
					}
				}
			}

			.sub-menu {
				position: absolute;
				top: 100%;
				right: 0;
				display: none;
				overflow: hidden;
				font-size: $font-size-base;
				min-width: 210px;
				width: 100%;
				backdrop-filter: blur(8px);
				border-radius: 4px;

				@include themify($themes) {
					background: rgba(themed('backgroundColor'), 0.87);
					box-shadow: themed('normalShadow');
				}

				li {
					text-align: left;
					width: 100%;

					a {
						display: block;
						padding: 0.65em 1em;
					}
				}

				.sub-menu {
					position: relative;
				}
			}
		}
	}

	// mobile (tablet down) styles of main nav
	@include tablet-down {
		.header_center {
			position: absolute;
			top: 0;
			right: 0;
			height: calc( 100vh - 90px );
			width: 60vw;
			min-width: min(390px, 95%);
			z-index: 9999;
			display: flex;
			flex-direction: column;
			margin: 82px 0 0 0;
			padding: 0 60px 85px 0;
			overflow-y: auto;
		//	transform: translateX( 150% );
			transition: transform 300ms ease-in-out;
			display: none;
			@include themify($themes) {
				background: themed('backgroundColor');
				box-shadow: themed('activeShadow');
			}

			@include phone-landscape {
				margin-top: 55px;
				height: calc( 100vh - 55px );
			}
			.main_nav_is_open & {
				transform: translateX( 0% );

			}



			nav {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				transition: all 350ms ease-in-out;

				ul, li {
					margin: 0;
					padding: 0;
					list-style: none;
					display: block;
				}


				> ul {

					flex-direction: column;
					flex: 1;
					@include themify($themes) {
						background: linear-gradient( to right, rgba( themed('backgroundColor'), 0.5 ) 0%, rgba( themed('backgroundColor'), 1 ) 60% );
					}

					> li {
						flex: 1;

						&:not(.menu-item-has-children) {
							display: flex;
							flex-direction: column;

							> a {
								flex: 1;
								display: flex;
								flex-direction: column;
								justify-content: center;
							}
						}
					}

					a,
					a:visited {
						padding: 2em 1em;
						text-decoration: none;
						//display: block;
						line-height: 1.1;

						@include themify($themes) {
							border-top: 1px solid themed('backgroundColor');
							border-bottom: 1px solid rgba( themed('textColor'), 0.14 );
							color: themed('mainNavLinkColor');
						}

						&:not(.dropdown_toggle) {
							padding-right: 4em;
						}
					}

					.menu-item-has-children {
						display: flex;
						width: 100%;
						flex-wrap: wrap;

						a {
							flex: 1;
							display: flex;
							flex-direction: column;
							justify-content: space-around;

							@include themify($themes) {
								border-right: 1px solid rgba( themed('textColor'), 0.24 );
							}

							&.dropdown_toggle {
								flex: none;
								padding: 2em;

								@include themify($themes) {
									border-left: 1px solid themed('backgroundColor');
									border-right: none;
								}
							}
						}

						&.menu_is_open {
							@include themify($themes) {
								background: darken( themed('backgroundColor'), 5 );
							}

							> .sub-menu {
								flex-direction: column;

								li:not(.menu-item-has-children) {
									flex: 1;
									display: flex;
									flex-direction: column;

									a {
										flex: 1;
									}
								}
							}
						}
					}

					.sub-menu {
						display: none;
						width: 100%;
						max-width: 100%;

						a:not(.dropdown_toggle) {
							padding-right: 0;
						}
					}
				}
			}

		}
	}

}



// breadcrumb nav

nav.breadcrumb_navigation {
	font-size: $font-size-sm;
	margin-bottom: 3em;

	body.page &,
	body.page-homepage &,
	body.page-browse-content &,
	body.single-glossary & {
		display: none;
	}

	ul {
		margin: 3em 0 -3em 0;
		padding: 0;
		list-style: none;
		display: flex;

		li {

			transform: skewX(-26deg);

				@include themify($themes) {

					border-right: 2px solid rgba( themed('linkColor'), 0.25);
				}


			&:last-child {
				border-right: none;
			}

			a,
			span {
				display: inline-block;
				padding: 0.2em 1.1em;
				transform: skewX( 26deg);
			}
		}
	}
}

// previous / next links
.next_previous_playlist,
.next_previous_glossary {
	opacity: 0.95;
	transition: all 150ms ease-in-out;
	@include themify($themes) {
		background: rgba(themed('subtleGreyBG'), 0.95);
	}

	&:hover {
		opacity: 1;
	}

	&.top {
		margin-top: 7em;
	}
	a.glossary_back_link,
	a.playlist_back_link {
		display: block;
		margin: 1px;
		font-weight: 200;
		text-align: center;
		font-size: $font-size-sm;
		padding: 0.5em 3em;
		text-transform: uppercase;
		text-decoration: none;
		@include themify($themes) {
			background: rgba(themed('backgroundColor'), 0.85);
		}

		&:hover,
		&:focus,
		&:target {
			@include themify($themes) {
				background: rgba(themed('footerLinkHoverColor'), 0.1);
			}
		}
	}
}
.nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;



	> * {
		//flex: 1;
		width: 50%;

		@include themify($themes) {
			border-left: 1px solid themed( 'backgroundColor' ) ;
		}

		&:first-child {
			border-left: none;
		}

		a {
			display: block;
			font-weight: 200;
			padding: 1em 2em;

			&:hover,
			&:focus,
			&:target {
				@include themify($themes) {
					background: rgba(themed('footerLinkHoverColor'), 0.1);
				}
			}

			em {
				font-style: normal;
				font-weight: 500;
			}
		}
	}

	.nav-next {
		margin-left: auto;
		text-align: right;
	}
	.nav-previous {
		margin-right: auto;
	}
}

// post pagination
nav.pagination {

	margin: 3em 2em;

	.nav-links {
		justify-content: center;
	}

	.page-numbers {
		text-align: center;
		padding: 0.5em 1em;
		margin: 0 0.25em;
		border-radius: 2px;
		width: auto;
		text-decoration: none;

		@include themify($themes) {
			background: rgba(darken( themed('backgroundColor'), 10 ), 0.25);
			border: 1px solid rgba( themed('linkColor'), 0.25);
			box-shadow: themed( 'normalShadow' );
		}

		&:hover {
			@include themify($themes) {
				background:  themed('linkColor');
				color: themed( 'backgroundColor' );
				border: 1px solid rgba( themed('linkColor'), 0.5);
			}
		}

		&.current {
			@include themify($themes) {
				border: 1px solid rgba( themed('textColor'), 0.15);
			}

			&:hover {
			@include themify($themes) {
				background: rgba(darken( themed('backgroundColor'), 10 ), 0.25);
				color: themed( 'textColor' );
				border: 1px solid rgba( themed('textColor'), 0.15);
			}
		}
		}
	}
}