.jetpack-instant-search.jetpack-instant-search__overlay {
	&.jetpack-instant-search__overlay--dark,
	&.jetpack-instant-search__overlay--light {

		@include themify($themes) {
			background: rgba( themed( 'backgroundColor' ), 0.7 );
			color: themed( 'textColor' );
			backdrop-filter: blur(12px);
		}

		*::selection,
		.jetpack-instant-search__search-results .jetpack-instant-search__search-results-primary .jetpack-instant-search__search-result mark {
			background: rgb( 255, 244, 0 );
			color: $darker;
		}

		input.jetpack-instant-search__box-input.search-field,
		.jetpack-instant-search__search-results {
			@include themify($themes) {
				background: themed( 'backgroundColor' );
				color: themed( 'textColor' );
			}
		}

		.jetpack-instant-search__search-results-wrapper {
			border-radius: 10px;

			@include themify($themes) {
				box-shadow: themed( 'largeShadow' );
			}
		}

		.jetpack-instant-search__search-filters-title,
		.jetpack-instant-search__search-result-expanded__content,
		.jetpack-instant-search__search-results-list,
		.jetpack-instant-search__search-results-title,
		.jetpack-instant-search__search-results-unused-query {
			@include themify($themes) {
				color: themed( 'textColor' );
			}
		}

		.jetpack-instant-search__search-result-expanded__footer-author,
		.jetpack-instant-search__search-result-expanded__footer-date {
			@include themify($themes) {
				color: rgba( themed( 'textColor' ), 0.7 );
			}
		}

		.widget a,
		.widget.widget_archive ul li a,
		a,
		.widget a:visited,
		.widget.widget_archive ul li a:visited,
		a:visited {
			@include themify($themes) {
				color: themed( 'linkColor' );
			}

			&:hover {
				@include themify($themes) {
					color: themed( 'linkHoverColor' );
				}
			}
		}
		.jetpack-instant-search__search-results-filter-button:focus,
		.jetpack-instant-search__search-results-filter-button:hover,
		.jetpack-instant-search__search-results-secondary {
			@include themify($themes) {
				color: themed( 'linkColor' );
			}
		}

		.jetpack-instant-search__search-filter-sub-heading,
		.jetpack-instant-search__search-result-expanded__path {
			@include themify($themes) {
				color: themed( 'textColor' );
			}
		}

		input[type="checkbox"]:checked + label.jetpack-instant-search__search-filter-list-label {
			font-weight: 800;
		}

		input[type="checkbox"]:disabled {
			cursor: not-allowed;

			+ label.jetpack-instant-search__search-filter-list-label {
				font-weight: 200;
				font-style: italic;
				cursor: not-allowed;

				@include themify($themes) {
					color: rgba( themed( 'textColor' ), 0.5 );
				}
			}
		}

		.jetpack-instant-search__search-results-list li:before {
			content: none;
		}


	}
}

