/*
 *
 *	Variabiles
 *
 */


// Define colors
$purple: #5e3a7e;
$purple-alt-lighter: #a662e2;

$pink: #f2566e;
$pink-alt-lighter: #fb657b;

$blue: #45acce;
$blue-alt-lighter: #3dcaf9;
$blue-alt-darker: #148db5;

$yellow: #fbad41;
$yellow-alt-lighter: #ffc069;

$white: #ffffff;
$offwhite: #f1f1f1;

$light-grey: #F5F3F7;
$medium-grey: #d6d6d6;
$dark-grey: #393939;

$dark: #292929;
$darker: #212023;
$black: #000000;

$subtle-purple-light: #F5F3F7;
$subtle-pink-light: #f9dde0;
$subtle-blue-light: #F2F8FA;
$subtle-yellow-light: #FFF7EC;

$subtle-purple-dark: #42344F;
$subtle-pink-dark: #473134;
$subtle-blue-dark: #303F44;
$subtle-yellow-dark: #665741;

// Define measurements
$max_body_text_width: 90ch;
$max_body_text_width_half: 45ch;
$max_heading_text_width: 30ch;
$max_wide_page_width: 1600px;
$basefont_size: 16px;

// Define fonts
$poppins: "Poppins", sans-serif;

// Define font size options
$font-size-sm: clamp(1.14rem, 0.3vw + 0.99rem, 1.56rem);
$font-size-base: clamp(1.2rem, 0.57vw + 0.91rem, 2rem);
$font-size-md: clamp(1.26rem, 0.93vw + 0.8rem, 2.56rem);
$font-size-lg: clamp(1.33rem, 1.39vw + 0.63rem, 3.28rem);
$font-size-xl: clamp(1.39rem, 2vw + 0.39rem, 4.19rem);
$font-size-xxl: clamp(1.46rem, 2.79vw + 0.07rem, 5.37rem);
$font-size-xxxl:  clamp(2.14rem, 6.16vw + -0.94rem, 10.77rem);

$font-size-blog-title: clamp(3.39rem, 3.68vw + 1.55rem, 8.54rem);

// Shadow options

$subtle_shadow_light: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
rgba(50, 50, 93, 0.12) 0px 50px 100px -20px,
rgba(0, 0, 0, 0.23) 0px 30px 60px -30px;
$subtle_shadow_dark: rgba(26, 26, 50, 0.36) 0px 50px 100px -20px,
rgba(0, 0, 0, 0.414) 0px 30px 60px -30px;
$heavy_shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
rgba(0, 0, 0, 0.12) 0px -12px 30px,
rgba(0, 0, 0, 0.12) 0px 4px 6px,
rgba(0, 0, 0, 0.17) 0px 12px 13px,
rgba(0, 0, 0, 0.09) 0px -3px 5px;

$subtle_inset: rgba(45, 53, 60, 0.4) 3px 3px 6px 0px inset,
rgba(43, 39, 39, 0.5) -3px -3px 6px 1px inset;



// Define animation speeds
$transition_speed: 250ms;

$video_aspect_ratio:  315 / 560 315 / 560;
// Define breakpoints
$breakpoint-small: 600px;
$breakpoint-medium: 900px;
$breakpoint-large: 1200px;
$breakpoint-x-large: 1800px;


/*
 * Theme definitions
 *
 * usage:
 *		[[SELECTOR]] {
 *			@include themify($themes) {
 *				[[PROPERTY]]]: themed('nameFromThemeDecloration');
 *			}
 *		}
 */

$themes: (
	light: (
		// body & core styles
		backgroundColor: $white,
		textColor: $dark,

		linkColor: $blue,
		linkHoverColor: $purple,

		// logo fill
		logoPurpleColor: $purple,
		logoPinkColor: $pink,
		logoBlueColor: $blue,
		logoYellowColor: $yellow,

		// default image filter (duotone)
		duotoneFilter: url('#duotone-blue_purple'),

		// primary button
		primaryButtonBGColor: $blue,
		primaryButtonTextColor: $white,
		primaryButtonBGHoverColor: $pink,
		primaryButtonTextHoverColor: $white,
		primaryButtonBorder: 2px solid transparent,
		primaryButtonHoverBorder: 2px solid $white,

		// secondary button
		secondaryButtonBGColor: transparent,
		secondaryButtonTextColor: $purple,
		secondaryButtonBGHoverColor: $purple,
		secondaryButtonTextHoverColor: $white,
		secondaryButtonBorder: 2px solid $purple,
		secondaryButtonHoverBorder: 2px solid $black,

		// accent button (safe exit, etc)
		accentButtonBGColor: $pink,
		accentButtonTextColor: $white,
		accentButtonBGHoverColor: $purple,
		accentButtonTextHoverColor: $white,
		accentButtonBorder: 2px solid transparent,

		// forms
		inputBGColor: $white,
		inputBorderColor: $purple,
		inputTextColor: $dark,
		inputPlaceholderColor: $dark-grey,
		labelTextColor: $dark,

		// main navigation
		mainNavBGColor: $purple,
		mainNavLinkColor: $white,
		mainNavItemBGColor: $purple,
		mainNavLinkHoverColor: $yellow,

		// utility navigation
		utilityNavBGColor: $subtle-purple-light,
		utilityNavBGHoverColor: $yellow,
		utilityNavLinkColor: $purple,
		utilityNavLinkHoverColor: $dark,

		// accent colors
		accentPurple: $purple,
		accentPink: $pink,
		accentBlue: $blue,
		accentYellow: $yellow,
		accentGrey: $dark-grey,
		accentTextColor: $white,

		// section background colors
		subtlePurpleBG: $subtle-purple-light,
		subtlePinkBG: $subtle-pink-light,
		subtleBlueBG: $subtle-blue-light,
		subtleYellowBG: $subtle-yellow-light,
		subtleGreyBG: $light-grey,

		// box shadow options
		subtleShadow: $subtle_shadow_light,
		normalShadow: 1px 1px 4px rgba(0, 0, 0, 0.35),
		largeShadow: $heavy_shadow,
		insetShadow: $subtle_inset,

		// text shadow options
		textBackgroundBlurShadow: $white,
		textShadowBelow: $black,
		textHighlightAbove: $white,

		// program box, global
		programBGColorGlobal: $pink,
		programTextColorGlobal: $white,
		programAccentColorGlobal: $purple,

		// program box, EDU
		programBGColorEDU: $blue,
		programTextColorEDU: $white,
		programAccentColorEDU: $purple,

		// newsletter signup
		newsletterBGColor: $purple,
		newsletterHeaderColor: $pink,
		newsletterTextColor: $white,

		// footer
		footerBGColor: $light-grey,
		footerTextColor: $dark,
		footerLinkColor: $purple,
		footerLinkHoverColor: $blue,
		footerSocialIconColor: $dark,
		footerSocialIconHoverColor: $purple,

	),
	dark: (
		// body & core styles
		backgroundColor: $dark,
		textColor: $white,

		linkColor: $yellow,
		linkHoverColor: $pink-alt-lighter,

		// logo fill
		logoPurpleColor: $white,
		logoPinkColor: $white,
		logoBlueColor: $white,
		logoYellowColor: $white,

		// default image filter (duotone)
		duotoneFilter: url('#duotone-purple_yellow'),

		// primary button
		primaryButtonBGColor: $blue,
		primaryButtonTextColor: $white,
		primaryButtonBGHoverColor: $pink,
		primaryButtonTextHoverColor: $white,
		primaryButtonBorder: 2px solid transparent,
		primaryButtonHoverBorder: 2px solid $medium-grey,

		// secondary button
		secondaryButtonBGColor: transparent,
		secondaryButtonTextColor: $white,
		secondaryButtonBGHoverColor: $pink,
		secondaryButtonTextHoverColor: $black,
		secondaryButtonBorder: 2px solid $white,
		secondaryButtonHoverBorder: 2px solid $white,

		// accent button (safe exit, etc)
		accentButtonBGColor: $pink,
		accentButtonTextColor: $white,
		accentButtonBGHoverColor: $purple,
		accentButtonTextHoverColor: $white,
		accentButtonBorder: 2px solid transparent,

		// forms
		inputBGColor: $white,
		inputBorderColor: $purple,
		inputTextColor: $dark,
		inputPlaceholderColor: $dark-grey,
		labelTextColor: $dark,

		// main navigation
		mainNavBGColor: $darker,
		mainNavLinkColor: $white,
		mainNavItemBGColor: $purple,
		mainNavLinkHoverColor: $yellow,

		// utility navigation
		utilityNavBGColor: $subtle-purple-dark,
		utilityNavBGHoverColor: $darker,
		utilityNavLinkColor: $white,
		utilityNavLinkHoverColor: $yellow,

		// accent colors
		accentPurple: $purple-alt-lighter,
		accentPink: $pink,
		accentBlue: $blue-alt-lighter,
		accentYellow: $yellow,
		accentGrey: $medium-grey,
		accentTextColor: $white,

		// section background colors
		subtlePurpleBG: $subtle-purple-dark,
		subtlePinkBG: $subtle-pink-dark,
		subtleBlueBG: $subtle-blue-dark,
		subtleYellowBG: $subtle-yellow-dark,
		subtleGreyBG: $dark-grey,

		// box shadow options
		subtleShadow: $subtle_shadow_dark,
		normalShadow: 1px 1px 4px rgba(0, 0, 0, 0.35),
		largeShadow: $heavy_shadow,
		insetShadow: $subtle_inset,

		// text shadow options
		textBackgroundBlurShadow: $black,
		textShadowBelow: $black,
		textHighlightAbove: $white,

		// program box, global
		programBGColorGlobal: $subtle-pink-dark,
		programTextColorGlobal: $white,
		programAccentColorGlobal: $pink,

		// program box, EDU
		programBGColorEDU: $subtle-blue-dark,
		programTextColorEDU: $white,
		programAccentColorEDU: $pink,

		// newsletter signup
		newsletterBGColor: $purple,
		newsletterHeaderColor: $pink,
		newsletterTextColor: $white,

		// footer
		footerBGColor: $dark-grey,
		footerTextColor: $white,
		footerLinkColor: $yellow,
		footerLinkHoverColor: $pink-alt-lighter,
		footerSocialIconColor: $light-grey,
		footerSocialIconHoverColor: $yellow,
	),
);