/*
 *
 *	Variabiles
 *
 */


// Define colors
$purple: #5e3a7e;
$purple-alt-lighter: #AC81CF;

$pink: #f2566e;
$pink-alt-lighter: #FF6687;
$pink-alt-darker: #83353F;

$blue: #45acce;
$blue-alt-lighter: #80C7E2;
$blue-alt-darker: #148db5;

$yellow: #fbad41;
$yellow-alt-lighter: #FCB44F;
$yellow-alt-darker: #7B623D;

$white: #ffffff;
$offwhite: #f1f1f1;

$light-grey: #F5F3F7;
$medium-grey: #d6d6d6;
$dark-grey: #393939;

$dark: #292929;
$darker: #212023;
$black: #000000;

$subtle-purple-light: #F5F3F7;
$subtle-pink-light: #f9dde0;
$subtle-blue-light: #F2F8FA;
$subtle-yellow-light: #FFF7EC;

$subtle-purple-dark: #42344F;
$subtle-pink-dark: #473134;
$subtle-blue-dark: #303F44;
$subtle-yellow-dark: #665741;

// Define measurements
$max_body_text_width: 90ch;
$max_body_text_width_half: 45ch;
$max_heading_text_width: 30ch;
$max_wide_page_width: 1600px;
$basefont_size: 16px;

// Define fonts
$poppins: "Poppins", sans-serif;

// Define font size options
$font-size-sm: clamp(1.14rem, 0.3vw + 0.99rem, 1.56rem);
$font-size-base: clamp(1.2rem, 0.57vw + 0.91rem, 2rem);
$font-size-md: clamp(1.26rem, 0.93vw + 0.8rem, 2.56rem);
$font-size-lg: clamp(1.33rem, 1.39vw + 0.63rem, 3.28rem);
$font-size-xl: clamp(1.39rem, 2vw + 0.39rem, 4.19rem);
$font-size-xxl: clamp(1.46rem, 2.79vw + 0.07rem, 5.37rem);
$font-size-xxxl: clamp(2.14rem, 6.16vw + -0.94rem, 10.77rem);

$font-size-blog-title: clamp(3.39rem, 3.68vw + 1.55rem, 8.54rem);

// Shadow options

$subtle_shadow_light: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
rgba(50, 50, 93, 0.12) 0px 50px 100px -20px,
rgba(0, 0, 0, 0.23) 0px 30px 60px -30px;
$subtle_shadow_dark: rgba(26, 26, 50, 0.36) 0px 50px 100px -20px,
rgba(0, 0, 0, 0.414) 0px 30px 60px -30px;
$heavy_shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
rgba(0, 0, 0, 0.12) 0px -12px 30px,
rgba(0, 0, 0, 0.12) 0px 4px 6px,
rgba(0, 0, 0, 0.17) 0px 12px 13px,
rgba(0, 0, 0, 0.09) 0px -3px 5px;


$subtle_inset_light: rgba(0, 0, 0, 0.019) 2px 2px 6px 0px inset,
rgba(0, 0, 0, 0.09) -1px -1px 6px 1px inset,
rgba(0, 0, 0, 0.45) 0 -1px 1px;
$subtle_inset_dark: rgba(0, 0, 0, 0.19) 2px 2px 8px 0px inset,
rgba(0, 0, 0, 0.25) -1px -1px 6px 1px inset,
rgba(0, 0, 0, 0.75) 0 -1px 3px;

$active_shadow_light: rgba(0, 0, 0, 0.15) 0 0 15px,
rgba(0, 0, 0, 0.08) 0 -2px 6px,
rgba(0, 0, 0, 0.18) 0px 3px 8px,
rgba(0, 0, 0, 0.17) 0px 7px 15px,
rgba(0, 0, 0, 0.59) 0 1px 1px;
$active_shadow_dark: rgba(0, 0, 0, 0.25) 0 0 15px,
rgba(0, 0, 0, 0.18) 0 -2px 6px,
rgba(0, 0, 0, 0.28) 0px 3px 8px,
rgba(0, 0, 0, 0.19) 0px 7px 15px,
rgba(0, 0, 0, 0.62) 0 1px 1px;


$text_shadow_dark: 0 1px 0 rgba( 0, 0, 0, 0.85 ),
			1px 1px 0 rgba( 0, 0, 0, 0.5 ),
			0 0 20px rgba( 0, 0, 0, 0.12 );

$text_shadow_light: 0 1px 0 rgba( 255, 255, 255, 0.65 ),
			1px 0 0 rgba( 255, 255, 255, 0.25 ),
			0 0 20px rgba( 255, 255, 2550, 0.42 );

$gradient-transparent_light: transparent 40%, rgba($pink, 0.2) 60%, rgba($yellow, 0.3) 70%, rgba($blue, 0.2) 79%, transparent 93%;
$gradient-transparent_dark: transparent 40%,  rgba($yellow, 0.2) 60%, rgba($blue, 0.4) 70%,  rgba($purple, 0.7) 79%, transparent 93%;

$gradient-purple-light: linear-gradient(138deg, rgba(172,129,207,1) 0%, rgba(206,186,222,1) 100%);
$gradient-purple-dark: linear-gradient(138deg, rgba(83,54,110,1) 0%, rgba(38,29,46,1) 100%);

$gradient-blue-light: linear-gradient(138deg, rgba(128,199,226,1) 0%, rgba(192,223,235,1) 100%);
$gradient-blue-dark: linear-gradient(138deg, rgba(83,172,205,1) 0%, rgba(42,86,103,1) 100%);

$gradient-pink-light: linear-gradient(138deg, rgba(255,102,134,1) 0%, rgba(255,191,205,1) 100%);
$gradient-pink-dark: linear-gradient(138deg, rgba(131,53,63,1) 0%, rgba(45,18,22,1) 100%);

$gradient-yellow-light: linear-gradient(138deg, rgba(252,180,79,1) 0%, rgba(255,220,171,1) 100%);
$gradient-yellow-dark: linear-gradient(138deg, rgba(123,98,61,1) 0%, rgba(74,64,49,1) 100%);

// Define animation speeds
$transition_speed: 250ms;

$video_aspect_ratio:  315 / 560 315 / 560;
// Define breakpoints
$breakpoint-small: 600px;
$breakpoint-medium: 900px;
$breakpoint-large: 1200px;
$breakpoint-x-large: 1800px;


/*
 * Theme definitions
 *
 * usage:
 *		[[SELECTOR]] {
 *			@include themify($themes) {
 *				[[PROPERTY]]]: themed('nameFromThemeDecloration');
 *			}
 *		}
 */

$themes: (
	light: (
		// body & core styles
		backgroundColor: $white,
		textColor: $dark,

		linkColor: $blue,
		linkHoverColor: $purple,

		// logo fill
		logoPurpleColor: $purple,
		logoPinkColor: $pink,
		logoBlueColor: $blue,
		logoYellowColor: $yellow,

		// default image filter (duotone)
		duotoneFilter: url('#duotone-blue_purple'),

		// primary button
		primaryButtonBGColor: $blue,
		primaryButtonTextColor: $white,
		primaryButtonBGHoverColor: $pink,
		primaryButtonTextHoverColor: $white,
		primaryButtonBorder: 2px solid transparent,
		primaryButtonHoverBorder: 2px solid $white,

		// secondary button
		secondaryButtonBGColor: transparent,
		secondaryButtonTextColor: $purple,
		secondaryButtonBGHoverColor: $purple,
		secondaryButtonTextHoverColor: $white,
		secondaryButtonBorder: 2px solid $purple,
		secondaryButtonHoverBorder: 2px solid $black,

		// accent button (safe exit, etc)
		accentButtonBGColor: $pink,
		accentButtonTextColor: $white,
		accentButtonBGHoverColor: $purple,
		accentButtonTextHoverColor: $white,
		accentButtonBorder: 2px solid transparent,

		announcementBarBG: $purple,
		announcementBarTextColor: $white,

		// forms
		inputBGColor: $white,
		inputBorderColor: $purple,
		inputTextColor: $dark,
		inputPlaceholderColor: $dark-grey,
		labelTextColor: $dark,

		// main navigation
		mainNavBGColor: $purple,
		mainNavLinkColor: $dark,
		mainNavItemBGColor: transparent,
		mainNavLinkHoverColor: $white,
		mainNavItemBGHoverColor: $purple,

		// utility navigation
		utilityNavBGColor: $gradient-transparent_light,
		utilityNavBGHoverColor: $yellow,
		utilityNavLinkColor: $purple,
		utilityNavLinkHoverColor: $blue,

		// accent colors
		accentPurple: $purple,
		accentPink: $pink,
		accentBlue: $blue,
		accentYellow: $yellow,
		accentGrey: $dark-grey,
		accentTextColor: $white,
		accentDarkTextColor: $darker,

		// section background colors
		subtlePurpleBG: $subtle-purple-light,
		subtlePinkBG: $subtle-pink-light,
		subtleBlueBG: $subtle-blue-light,
		subtleYellowBG: $subtle-yellow-light,
		subtleGreyBG: $light-grey,

		// dynamic background colors
		purpleBG: $purple-alt-lighter,
		pinkBG: $pink-alt-lighter,
		blueBG: $blue-alt-lighter,
		yellowBG: $yellow-alt-lighter,

		// dynamic gradients
		gradientPurpleBG: $gradient-purple-light,
		gradientPinkBG: $gradient-pink-light,
		gradientBlueBG: $gradient-blue-light,
		gradientYellowBG: $gradient-yellow-light,

		// box shadow options
		subtleShadow: $subtle_shadow_light,
		normalShadow: 1px 1px 4px rgba(0, 0, 0, 0.35),
		largeShadow: $heavy_shadow,
		activeShadow: $active_shadow_light,
		insetShadow: $subtle_inset_light,

		// text shadow options
		textShadow: $text_shadow_light,
		textBackgroundBlurShadow: $white,
		textShadowBelow: $black,
		textHighlightAbove: $white,

		// program box, global
		programBGColorGlobal: $pink,
		programTextColorGlobal: $white,
		programAccentColorGlobal: $purple,

		// program box, EDU
		programBGColorEDU: $blue,
		programTextColorEDU: $white,
		programAccentColorEDU: $purple,

		// newsletter signup
		newsletterBGColor: $purple,
		newsletterHeaderColor: $pink,
		newsletterTextColor: $white,

		// footer
		footerBGColor: $light-grey,
		footerTextColor: $dark,
		footerLinkColor: $purple,
		footerLinkHoverColor: $blue,
		footerSocialIconColor: $dark,
		footerSocialIconHoverColor: $purple,

	),
	dark: (
		// body & core styles
		backgroundColor: $dark,
		textColor: $white,

		linkColor: $yellow,
		linkHoverColor: $pink-alt-lighter,

		// logo fill
		logoPurpleColor: $white,
		logoPinkColor: $white,
		logoBlueColor: $white,
		logoYellowColor: $white,

		// default image filter (duotone)
		duotoneFilter: url('#duotone-purple_yellow'),

		// primary button
		primaryButtonBGColor: $blue,
		primaryButtonTextColor: $white,
		primaryButtonBGHoverColor: $pink,
		primaryButtonTextHoverColor: $white,
		primaryButtonBorder: 2px solid transparent,
		primaryButtonHoverBorder: 2px solid $medium-grey,

		// secondary button
		secondaryButtonBGColor: transparent,
		secondaryButtonTextColor: $white,
		secondaryButtonBGHoverColor: $pink,
		secondaryButtonTextHoverColor: $black,
		secondaryButtonBorder: 2px solid $white,
		secondaryButtonHoverBorder: 2px solid $white,

		// accent button (safe exit, etc)
		accentButtonBGColor: $pink,
		accentButtonTextColor: $white,
		accentButtonBGHoverColor: $purple,
		accentButtonTextHoverColor: $white,
		accentButtonBorder: 2px solid transparent,

		announcementBarBG: $yellow,
		announcementBarTextColor: $dark,

		// forms
		inputBGColor: $dark,
		inputBorderColor: $purple,
		inputTextColor: $white,
		inputPlaceholderColor: $dark-grey,
		labelTextColor: $white,

		// main navigation
		mainNavBGColor: $darker,
		mainNavLinkColor: $white,
		mainNavItemBGColor: transparent,
		mainNavLinkHoverColor: $dark,
		mainNavItemBGHoverColor: $yellow,

		// utility navigation
		utilityNavBGColor: $gradient-transparent_dark,
		utilityNavBGHoverColor: $darker,
		utilityNavLinkColor: $white,
		utilityNavLinkHoverColor: $yellow,

		// accent colors
		accentPurple: $purple,
		accentPink: $pink,
		accentBlue: $blue,
		accentYellow: $yellow,
		accentGrey: $medium-grey,
		accentTextColor: $white,
		accentDarkTextColor: $darker,

		// section background colors
		subtlePurpleBG: $subtle-purple-dark,
		subtlePinkBG: $subtle-pink-dark,
		subtleBlueBG: $subtle-blue-dark,
		subtleYellowBG: $subtle-yellow-dark,
		subtleGreyBG: $dark-grey,

		// dynamic background colors
		purpleBG: $purple,
		pinkBG: $pink-alt-darker,
		blueBG: $blue,
		yellowBG: $yellow-alt-darker,

		// dynamic gradients
		gradientPurpleBG: $gradient-purple-dark,
		gradientPinkBG: $gradient-pink-dark,
		gradientBlueBG: $gradient-blue-dark,
		gradientYellowBG: $gradient-yellow-dark,

		// box shadow options
		subtleShadow: $subtle_shadow_dark,
		normalShadow: 1px 1px 4px rgba(0, 0, 0, 0.35),
		largeShadow: $heavy_shadow,
		activeShadow: $active_shadow_dark,
		insetShadow: $subtle_inset_dark,

		// text shadow options
		textShadow: $text_shadow_dark,
		textBackgroundBlurShadow: $black,
		textShadowBelow: $black,
		textHighlightAbove: $white,

		// program box, global
		programBGColorGlobal: $subtle-pink-dark,
		programTextColorGlobal: $white,
		programAccentColorGlobal: $pink,

		// program box, EDU
		programBGColorEDU: $subtle-blue-dark,
		programTextColorEDU: $white,
		programAccentColorEDU: $pink,

		// newsletter signup
		newsletterBGColor: $purple,
		newsletterHeaderColor: $pink,
		newsletterTextColor: $white,

		// footer
		footerBGColor: $dark-grey,
		footerTextColor: $white,
		footerLinkColor: $yellow,
		footerLinkHoverColor: $pink-alt-lighter,
		footerSocialIconColor: $light-grey,
		footerSocialIconHoverColor: $yellow,
	),
);