.breadcrumb {
  ul {
    @apply flex flex-row items-center py-5 px-0 hidden;
  }

  li {
    list-style: none;
  }

  li + li {
    &::before {
      content: ">";
      @apply ml-2 dark:text-white;
    }
  }

  a {
    @apply text-igb-purple font-medium text-[16px] leading-[1.5] italic dark:text-white;
  }

  span {
    @apply text-igb-black font-semibold text-[16px] leading-[1.5] dark:text-white;
  }

  p {
    @apply block;
  }
}


.associated-post-tag-wrapper {
  @apply flex;
  .associated-post-tag:first-child {
    @apply ml-0;
    /* border-radius: 3px 0 0 3px; */
    &::before {
      content: unset;
    }
  }
}

.associated-post-tag {
  @apply pl-6 pr-4 inline-block relative mx-4 h-[27px] leading-[27px];
  text-align: center;

  &::before, &::after {
    content: '';
    mask-image: url(../theme/icons/buttons/tag.svg);
    mask-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: inherit;
  }

  &::before {
    left: -15px;
    mask-position: left;
  }

  &::after {
    right: -15px;
    mask-position: right;
  }

  span {
    @apply font-semibold text-white text-[12px] leading-[27px];
    text-transform: lowercase;
  }
}

.associated-post-tag-more-link {
  @apply w-[55px] h-[27px] leading-[27px] inline-block relative ml-4 bg-white;
  border-radius: 3px;
  border: 2px solid rgb(81 43 103);

  span {
    @apply text-[2.5rem] text-igb-purple absolute top-[-14px] left-[8px] h-0;
    z-index: 1;
  }

  &::before, &::after {
    @apply absolute w-[40px];
    mask-image: url(../theme/icons/buttons/tag.svg);
    mask-repeat: no-repeat;
    mask-position: left;
    content: '';
  }

  &::before {
    @apply bg-igb-purple;
    top: -2px;
    width: 40px;
    height: calc(100% + 4px);
    left: -20px;
  }

  &::after {
    @apply bg-white top-0 h-full left-[-18px];
  }

  &:hover {
    &, &::after {
      @apply bg-igb-purple;
    }

    span {
      @apply text-white;
    }
  }
}

.info-and-share-section{
 @apply flex justify-between items-start pt-2;
}

.share-section {
  @apply flex items-center pt-8;
  .links {
    @apply flex justify-between ml-5;
  }

  p {
    @apply text-[16px] leading-[1] text-igb-purple font-semibold mb-0;
    text-align: right
  }

  a {
    @apply h-[15px] w-[15px] mr-3;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:last-child {
      @apply mr-0;
    }
  }

  .share-button {
    /* @apply bg-black dark:bg-white;

    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain; */

    svg {
      @apply h-full w-full fill-[#292929] dark:fill-white;

      &.linkedin-logo {
        #linkedinPath1 {
          @apply fill-[#292929] dark:fill-white;
        }

        #linkedinPath2 {
          @apply fill-white dark:fill-[#292929];
        }
      }
    }

    &:hover {
      svg {
        @apply fill-[#f2566b];

        &.linkedin-logo {
          #linkedinPath1 {
            @apply fill-[#f2566b];
          }

          #linkedinPath2 {
            @apply fill-white;
          }
        }
      }
    }
  }
}

.you-might-also-like-section {
  > p {
    @apply text-[1.5rem] leading-[1.75rem] font-bold text-igb-purple mb-6;
  }
}

.glossary-slider {
  .slick-arrow {
    @apply h-full w-[40px];

    &.slick-prev {
      left: -1px;
    }
    &.slick-next {
      right: -1px;
    }
  }
}

h2.section-header {
  @apply leading-[1.5] font-extrabold text-igb-purple mb-2 dark:text-white;
  font-size: clamp(1.5rem, 1vw + 1rem, 2.25rem) !important;
}

.blog-detail-page {
  .thumbnail-section {
    @apply mb-7;
  }
  
  .thumbnail-section img {
    width: 100%;
    height: auto;
  }

  .entry-content {
    @apply pt-0;
  }

  .entry-content .wp-block-image {
    @apply mb-12;
  }

  .entry-content p {
    @apply p-0;
  }

  .entry-content ul,
  .entry-content {
    @apply dark:text-white text-igb-black;
  }

  .entry-content {
    h1 {
      font-size: clamp(2rem, 2.5rem, 3rem);
    }
  }

  .share-section {
    @apply pt-0 pb-6;
  }

  .associated-post-tag-wrapper {
    @apply absolute bottom-[10px] -left-[10px];
  }

  h1 {
    @apply mb-2 font-extrabold leading-[1.1];
    font-size: clamp(2rem, 5vw, 4rem)
  }

  h3 {
    @apply text-igb-black font-semibold text-center mb-1 leading-[1.5];
    font-size: clamp(2rem, 0.5vw, 3rem);
  }

  .date {
    @apply text-igb-black dark:text-igb-white leading-[1.5] mb-2;
    font-size: clamp(0.75rem, 0.5vw, 1.5rem);
  }

  .wp-block-media-text__media {
    @apply mb-4;
  }

  .wp-block-media-text .wp-block-media-text__content:first-child {
    @apply py-0;
  }

  .blog-detail {
    .associated-post-tag + .associated-post-tag {
      @apply hidden;
    }
  }
}

.entry-content {
  p {
    a {
      @apply text-igb-blue dark:text-igb-orange underline font-bold;

      &:hover {
        @apply text-igb-purple dark:text-igb-blue;
      }

      &:active {
        @apply text-igb-blue;
        text-decoration: none;
      }
    }
  }
  ul {
    @apply text-igb-black dark:text-white;
  }

  .has-black-color,
  .wp-element-caption {
    @apply dark:!text-white;
  }

  .wp-block-group > .wp-block-group {
    @apply !-mx-[10px];
  }

  .wp-block-group {
    @apply px-[10px];
  }

  .wp-block-media-text.has-media-on-the-right .wp-block-group {
    @apply !px-0 !mx-0;

    &:first-child {
      @apply mb-8;
    }
  }

  .has-foreground-color {
    @apply dark:!text-white;
  }

  .has-white-color {
    @apply !text-igb-black dark:!text-white;
  }
}

.svg-divider {
  @apply my-5 h-20 w-full bg-center bg-no-repeat;
  background-size: 200%;

  &.igb-horizontal-blue {
    @apply bg-igb-horizontal-blue;
  }

  &.igb-horizontal-orange {
    @apply bg-igb-horizontal-organge;
  }

  &.igb-horizontal-blue-only {
    @apply bg-igb-horizontal-blue-only;
  }
}

.wp-block-media-text {
  @apply dark:!bg-transparent;
  .wp-block-media-text__content {
    @apply px-[10px] py-4;
  
    .has-foreground-color {
      @apply dark:!text-white;
    }
  }
  
} 

.page {
  .partners-logo  {
    > .wp-block-group-is-layout-constrained {
      @apply p-0 !mx-0;
    }


    .wp-block-group-is-layout-flex {
      @apply flex justify-center items-center p-0;
    }

    .is-content-justification-space-between,
    .is-content-justification-center {
      @apply flex flex-col md:flex-row justify-between p-0 !mx-0;
    }

    .is-content-justification-center {
      @apply flex flex-col md:flex-row justify-center p-0  !mx-0;
    }

    .wp-block-image {
      @apply mb-4;
      img {
        @apply max-w-[200px] md:max-w-[125px] lg:max-w-[150px] xl:max-w-[200px] mx-auto;
        object-fit: contain !important;
        width: unset !important;
        height: auto !important;       
      }
    } 
  }

  .entry-content {
    @apply px-0;
  }
  /**/
}

.page-template-default {
  @apply overflow-x-hidden;
}


@screen md {
  .associated-post-tag {
    @apply px-8 mx-4 h-[42px] leading-[42px];

    &::before, &::after {
      mask-image: url(../theme/icons/buttons/tag.svg);
      top: 0;
      width: 25px;
      height: 100%;
    }
  
    &::before {
      left: -20px;
    }
  
    &::after {
      right: -20px;
    }
  
    span {
      @apply text-[20px] leading-[42px];
    }
  }

  .associated-post-tag-more-link {
    @apply w-[70px] h-[42px] leading-[42px] inline-block relative ml-4 bg-white;
    border-radius: 3px;
    border: 2px solid rgb(81 43 103);
  
    span {
      @apply text-[3rem] text-igb-purple absolute top-[-22px] left-[10px] h-0;
      z-index: 1;
    }
  
    &::before, &::after {
      @apply absolute w-[40px];
      mask-image: url(../theme/icons/buttons/more-tags.svg);
      mask-repeat: no-repeat;
      mask-position: left;
      content: '';
    }
  
    &::before {
      @apply bg-igb-purple;
      top: -2px;
      width: 40px;
      height: calc(100% + 4px);
      left: -20px;
    }
  
    &::after {
      @apply bg-white top-0 h-full left-[-18px];
    }
  
    &:hover {
      &, &::after {
        @apply bg-igb-purple;
      }
  
      span {
        @apply text-white;
      }
    }
  }

  .svg-divider {
    @apply my-4 h-40;

    background-size: 150%;
  }

  .entry-content {
    .wp-block-group > .wp-block-group {
      @apply !mx-auto;
    }

    .wp-block-group {
      @apply px-[40px];
    }
    
    .wp-block-media-text.has-media-on-the-right .wp-block-group {
      @apply !px-0 !mx-0;
    }
  }

  .wp-block-media-text {
    .wp-block-media-text__content {
      @apply px-[40px];
    }


    &:first-child .wp-block-media-text__content {
      @apply mb-0 pt-[200px];
    }
  }

  .share-section {
    a {
      @apply h-[35px] w-[35px] mr-6;
    }
  }

  .blog-detail-page {
    .blog-detail {
      .associated-post-tag + .associated-post-tag {
        @apply block;
      }
    }

    .associated-post-tag-wrapper {
      @apply -left-[40px];
    }
  }
}

@screen lg {
  .share-section {
    @apply block py-4;

    p {
      @apply mb-4;
    }
  }

  .breadcrumb {
    ul {
      @apply flex;
    }

    p {
      @apply hidden;
    }
  }

  .blog-detail-page {
    .entry-content {
      margin: 0 auto;
      max-width: 60%;
    }
  
    .share-section {
      @apply absolute right-0 pt-3;
    }
  
    .associated-post-tag-wrapper {
      @apply bottom-[20px] left-[-40px];
    }
  
    h1 {
      @apply mb-2 leading-[1.1];
    }
  
    h3 {
      font-size: 36px;
      line-height: 46px;
      @apply text-igb-black font-semibold text-center mb-1;
    }
  
    .date {
      @apply mb-7;
    }
  } 
}

@screen xl {
  .associated-post-tag {
    @apply px-8 mx-4 h-[42px] leading-[42px];
  
    &::before, &::after {
      mask-image: url(../theme/icons/buttons/tag.svg);
      top: 0;
      width: 25px;
      height: 100%;
    }
  
    &::before {
      left: -20px;
    }
  
    &::after {
      right: -20px;
    }
  
    span {
      @apply text-[20px] leading-[42px];
    }
  }

  .associated-post-tag-more-link {
    @apply w-[70px] h-[42px] leading-[42px] inline-block relative ml-4 bg-white;
    border-radius: 3px;
    border: 2px solid rgb(81 43 103);
  
    &::before, &::after {
      @apply absolute w-[40px];
      mask-image: url(../theme/icons/buttons/more-tags.svg);
      mask-repeat: no-repeat;
      mask-position: left;
      content: '';
    }
  
    &::before {
      @apply bg-igb-purple;
      top: -2px;
      width: 40px;
      height: calc(100% + 4px);
      left: -20px;
    }
  
    &::after {
      @apply bg-white top-0 h-full left-[-18px];
    }
  
    &:hover {
      &, &::after {
        @apply bg-igb-purple;
      }
  
      span {
        @apply text-white;
      }
    }
  }

  .svg-divider {
    @apply my-10 bg-cover h-40;
  }
}
