.glossary-row {
  @apply flex justify-start md:justify-between w-full py-4 flex-col md:flex-row;

  .term-title {
    @apply text-left mr-0 md:mr-4 w-full;

    h3 {
      @apply text-left text-igb-purple dark:text-igb-white font-bold mb-0;
      font-size: clamp(1.5rem, 2vw, 2.25rem);
    }

    span {
      @apply leading-normal text-igb-blue;
      font-size: 1.125rem;
    }
  }

  .term-definition {
    @apply w-full text-left mx-0 md:mx-4 mb-5;

    p {
      @apply text-igb-purple dark:text-igb-white;   

      &:last-child {
        margin: 0;
      }
    }
  }

  .term-link {
    @apply flex flex-col justify-start md:justify-center items-start md:items-center mb-5 w-full;
   }
}
