.home {
  .entry-content {
    @apply px-0;
  }
}

.featured-video-terms {
  @apply relative bottom-[20px] -left-11 gap-2;
}

.curated-playlist-slide {
  @apply relative rounded-[3px] overflow-hidden;

  @apply pt-[56%] block bg-center bg-cover;

  span {
    @apply absolute top-[50%] left-[50%] text-[14px] font-bold text-white text-center;
    transform: translate(-50%, -50%);
  }

  .overlay {
    @apply absolute top-0 left-0 w-full h-full rounded-[3px] overflow-hidden;
  }
} 

.curated-playlist-section {
  @apply p-0 overflow-hidden !mx-0;

  h2.section-header {
    @apply mb-0;
  }

  .curated-playlist-slider .slick-list {
    overflow: visible !important;
  }

  .curated-playlist-slider .slick-slide img {
    height: 145px;
  }

  .slick-arrow {
    @apply bottom-0 h-full;
    z-index: 1;

    &.slick-disabled {
      opacity: 0;
    }

    &.slick-prev {
      left: 5px;
      &::before {
        content: '‹';
        font-size: 35px;
      }
    }
  
    &.slick-next {
      right: 0;
      &::before {
        content: '›';
        font-size: 35px;
      }
    }
  }
}

.curated-playlist-slider,
.featured-content-slider,
.glossary-slider {
  .slick-arrow {
    width: 40px;
    backdrop-filter: blur(2px);
    z-index: 1;
    background-color: rgba(255,255,255,0.3);
  
    &.slick-disabled {
      opacity: 0;
    }
  
    &::before,
    &::after {
      font-size: 35px;
    }
  
    &.slick-prev {
      left: -1px;
      &::before {
        @apply text-igb-pink dark:text-igb-black;
        content: '‹';
      }
    }
  
    &.slick-next {
      right: -1px;
      &::before {
        @apply text-igb-pink dark:text-igb-black;
        content: '›';
      }
    }
  }

  .slick-track {
    @apply mx-[unset];
  }
}

.featured-content-slider {
  .slick-arrow {
    top: 0;
    transform: unset;
  }

  .slick-list {
    @apply !overflow-visible;
  }
} 

.wp-block-igb-theme-featured-program-slider,
.wp-block-igb-theme-slide {
    @apply w-full h-auto;
}

.wp-block-igb-theme-slide {
  @apply py-20 px-[10px] md:px-[40px] flex items-center;
}


.wp-block-igb-theme-featured-program-slider {
  @apply mb-[3.75rem] relative;

  .featured-program-slide {
    .inner-container-block {
      @apply relative;
      z-index: 1;
    }

    &::before {
      @apply absolute top-0 left-0 w-full h-full;
      content: '';
      background-color: rgba(41, 41, 41, 0.07);
    }
  }

  h4 {
    @apply uppercase text-igb-yellow text-[14px] leading-[16px] dark:text-white;
    letter-spacing: 0.05em;
  }

  h2 {
    @apply text-[48px] text-igb-pink leading-[1.1] font-extrabold mb-4;
    text-wrap: balance;
    /* text-shadow: 0px 0px 0 transparent, 0px 0px 0 transparent, 1px 1px 0 #fff, 0 0 0 transparent; */
  }

  p {
    @apply text-[14px] leading-[21px] mb-8;
  }

  .button-wrapper {
    @apply flex justify-center py-5;
  }

  .slick-arrow {
    @apply top-[unset] bottom-0 h-auto w-auto relative mx-[5px];
    left: unset;
    right: unset;
    transform: unset;
  }

  .slick-prev {
    &::before {
      @apply w-[80px] h-[80px];
      opacity: 1;
      content: url('../theme/icons/buttons/featured-program-prev.png');
    }
  } 

  .slick-next {
    &::before {
      @apply w-[80px] h-[80px];
      opacity: 1;
      content: url('../theme/icons/buttons/featured-program-next.png');
    }
  }
}

.featured-blog-wrapper {
  @apply relative;

  .image-container {
    @apply pt-[100%] bg-cover bg-center; 
  }

  .featured-blog-inner {
    @apply py-[80px] px-[10px];
  }

  h4 {
    @apply text-igb-black uppercase text-[14px] leading-[16px] mb-2 dark:text-white;
    letter-spacing: 0.05em;
  }

  h2 {
    @apply text-[48px] leading-[1.1] text-igb-purple font-extrabold mb-2 text-igb-purple dark:text-igb-pink;
  }

  p {
    @apply text-[14px] leading-[1.5] mb-12 text-igb-black;
  }
}

body.home {
  @apply overflow-x-hidden;


}

.programSection {
  @apply flex;
  .eduLeft, .eduRight {
    @apply relative;
  }

  .program-left-inner,
  .program-right-inner {
    @apply px-0 pt-12 pb-12;
  }

  .eduLeft {
    @apply pl-[20px] pr-[40px] bg-igb-pink dark:bg-igb-darkmode-lightgray w-[95%] mr-auto mb-4;
  }

  .eduRight {
    @apply pl-[20px] pr-[40px] bg-igb-blue dark:bg-igb-darkmode-lightgray w-[95%] ml-auto mb-4;
  }

  h4 {
    @apply uppercase text-[14px] leading-[16px] mb-2 dark:text-white;
    letter-spacing: 0.05em;
  }

  h2 {
    @apply text-[30px] font-extrabold mb-4 dark:text-white;
    
    span {
      @apply text-igb-purple dark:text-igb-pink;
    }
  }

  p {
    @apply text-[14px] leading-[1.5] leading-normal mb-8;
  }
}

.popular-browse-terms {
  @apply flex flex-col;

  .associated-post-tag-wrapper {
    @apply flex-wrap justify-start;
  }

  .associated-post-tag {
    @apply hidden;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:last-child {
      @apply block;

      width: calc(100% - 15px);

      &::before {
        content: unset;
      }

      &::after {
        @apply block;
        content: '';
        
      }
    }
  }

  .associated-post-tag.mobile-only {
    @apply block md:!hidden border border-solid border-igb-purple;

    &::after {
      @apply bg-igb-purple -top-[1px] h-[27px];
    }

    &::before {
      @apply bg-white top-0 -right-[14px] left-[unset];
      content: '';
      mask-position: right;
      z-index: 1;
    }
  }

  .associated-post-tag {
    @apply mx-0 my-1;
    span {
      @apply relative block text-[14px];
      z-index: 1;
      left: calc(50% - 5px);
      transform: translateX(-50%);
    }
  }

  .associated-post-tag-more-link {
    @apply my-1 mx-0 pr-[40px] pl-[20px];
    
    span {
      @apply relative top-0 left-0 text-[14px] leading-[23px] font-semibold block text-center;
      z-index: 1;
    }
  }
}

.featured-video-wrapper {
  @apply pt-[75%] relative w-full;

  iframe {
    @apply w-full h-full absolute top-0 left-0;
  }
}

.featured-video-wrapper-section {
  .featured-video-wrapper {
    @apply  mb-6;

    .associated-post-tag-wrapper {
      @apply absolute bottom-0 -ml-[10px];
      transform: translateY(50%);
    }
  }

  h3 {
    @apply text-[16px] leading-[18px] font-bold mb-2 text-igb-purple dark:text-white;
  }

  p {
    @apply text-[14px] leading-[19px] text-igb-black dark:text-white;
  }
}

.featured-playlist.wp-block-media-text {
  background-color: rgba(205, 196, 214, 0.2);

  .wp-block-media-text__content {
    @apply py-[30px] px-[10px];
  }

  h4 {
    @apply text-igb-black mb-3 dark:text-white text-[14px] leading-[16px] mb-0;
    letter-spacing: 0.05em;
  }

  h2, h1 {
    @apply text-igb-purple text-[48px] leading-[1.1] font-extrabold mb-2 dark:text-igb-pink;
  }

  p {
    @apply text-igb-black dark:text-white text-[14px] leading-[1.5] mb-4;
  }
}

.more-featured-videos-section {
  @apply mb-12;

  h2.section-header {
    @apply mb-0;
  }

  .more-featured-videos-slider {
    @apply grid grid-cols-1 gap-4;
  }
}

.term-of-the-day-block {
  @apply py-[24px];

  .wrapper {
    @apply flex flex-col md:flex-row alignfull justify-center;
  }

  .term-banner {
    @apply max-w-fit absolute -top-5 -left-4 md:-left-12 text-sm bg-igb-pink px-6 py-2 parallelogram;
    border-radius: 3px;

    p {
      @apply skew-fix text-white max-w-fit mb-0 font-bold text-[18px] text-white;
    }
  }

  .term-video-section {
    @apply w-full;
  }

  .term-info-section {
    @apply relative bg-igb-gray dark:bg-igb-darkmode-lightgray py-20 h-[fit-content];
  }

  .term-info-section-inner {
    @apply px-2;

    h2 {
      @apply text-igb-purple dark:text-igb-pink text-[3rem] leading-[1.1] font-extrabold mb-4;
    }

    sub {
      @apply text-igb-black text-[14px] leading-[18px] font-bold;
    }

    p {
      @apply text-[14px] leading-[1.5] text-igb-black mb-8 dark:text-white;
    }
  }
}

.term-of-the-day-related-contents {
  h2.section-header {
    @apply mb-0;
  }
}

.featured-video-part {
  @apply flex flex-col w-full md:w-full lg:w-full xl:w-7/12;
}

.popular-browse-terms-part {
  @apply flex flex-col items-start justify-center w-full md:w-full lg:w-full xl:w-5/12;
}

@screen md {
  .featured-video-wrapper-section {
    .featured-video-wrapper {
      @apply mb-10;

      .associated-post-tag-wrapper {
        @apply ml-[-40px];
      }
    }

    h3 {
      @apply text-[24px] leading-[27px] font-semibold mb-2;
    }

    p {
      @apply text-[18px] leading-[1.5];
    }
  }


  .more-featured-videos-section  {
    .more-featured-videos-slider {
      @apply grid-cols-2;
    }
  }

  .featured-playlist.wp-block-media-text {
    .wp-block-media-text__content {
      @apply py-[80px] px-[40px];
    }
    h4 {
      @apply mb-6;
      letter-spacing: 0.06em;
    }
  
    h2, h1 {
      @apply text-[36px] leading-[49px] mb-4;
    }
  
    p {
      @apply text-igb-black text-[16px] leading-[1.5] mb-8;
    }
  }

  .curated-playlist-section {
    .curated-playlist-slider .slick-slide img {
      height: 250px !important;
    }
  }

  .curated-playlist-slide {
    @apply relative rounded-[3px] overflow-hidden;
  
    span {
      @apply absolute top-[50%] left-[50%] text-lg font-extrabold leading-normal text-white;
      transform: translate(-50%, -50%);
    }
  
    .overlay {
      @apply absolute top-0 left-0 w-full h-full rounded-[3px] overflow-hidden;
    }
  } 

  .term-of-the-day-block { 
    .wrapper {
      @apply justify-between items-center;
    }

    .term-banner {
      /* @apply -l-[1rem]; */
      left: -1rem;
    }

    .term-info-section {
      @apply p-0 h-[fit-content] w-full;    
    }

    .term-video-section{
      @apply w-full;
    }

    .term-info-section-inner  {
      @apply p-[40px];

      p {
        @apply text-[18px] leading-[1.5];
      }
    }
  }

  .wp-block-igb-theme-featured-program-slider {
    @apply mb-6 relative;

    p {
      @apply text-[18px] leading-[1.5];
    }
  }

  .featured-blog-wrapper {
    @apply relative;

    .image-container {
      @apply pt-[90%];
    }

    .featured-blog-section {
      @apply absolute bottom-0 right-0;
      mask-image: url(../theme/mask/featured-blog-tablet.svg);
      max-width: unset;
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: left;
      width: 640px;
      height: 446px;
    }

    .featured-blog-inner {
      @apply w-full h-full pl-[240px] pr-[40px] py-0  flex justify-center items-center dark:bg-igb-darkmode-lightgray;
      background-color: #F2F2F2;     
    }

    p {
      @apply mb-4;
    }
  }

  .popular-browse-terms  {
    .associated-post-tag {
      @apply block;

      span{
        font-size: 18px;
      }
    }

    .associated-post-tag-wrapper {
      @apply justify-between;

      .associated-post-tag {
        &::before, 
        &::after {
          content: '';
        }
      }
    }

    .associated-post-tag-more-link {
      @apply block;
      span {
        @apply text-[18px] leading-[38px];
      }
    }



    .associated-post-tag:nth-child(odd) {
      @apply ml-0 pl-1 pr-0;
  
      &::before {
        content: unset;
      }
    }
  
    .associated-post-tag:nth-child(even) {
      @apply mr-0 pr-1 pl-0;
  
      &::after {
        content: unset;
      }
    }

    
    .associated-post-tag,
    .associated-post-tag-more-link {
      flex-basis: calc(50% - 16px);
      max-width: calc(50% - 16px);
    }
  }

  .programSection {
    @apply block;
    .eduLeft, .eduRight {
      @apply relative w-[325px] min-h-[435px];
  
      &::before {
        content: '';
        @apply absolute top-0 h-full w-[200px] rounded-[3px];
        transform: skewX(-12deg);
      }
    }
  
    .program-left-inner,
    .program-right-inner {
      @apply px-0 pt-12 pb-12;
    }
  
    .eduLeft {
      @apply pl-[40px] pr-0;
      float: left;
      
      &::before {
        @apply bg-igb-pink -right-[58px] dark:bg-igb-darkmode-lightgray;
      }
    }
  
    .eduRight {
      @apply pr-[40px] pl-0;

      float: right;
      margin-top: 65px;


      &::before {
        @apply bg-igb-blue -left-[58px] dark:bg-igb-darkmode-lightgray;
      }
    }
    
  
    p {
      @apply text-base;
    }
  }

  .featured-video-part,
  .blog-detail {
    .associated-post-tag-more-link span {
      @apply -top-[16px] left-[14px];
    }
  } 
}

@screen lg {
  .programSection {
    .eduLeft, .eduRight {
      @apply w-[440px];
    }
  }
}

@screen xl {
  .more-featured-videos-section  {
    .more-featured-videos-slider {
      @apply grid-cols-4;
    }
  }

  .programSection {
    .program-left-inner,
    .program-right-inner {
      @apply px-0 pt-[154px] pb-[142px];
    }

    .eduLeft, .eduRight {
      @apply w-[500px];
    }

    .eduLeft::before {
      @apply right-[-215px] w-[415px];
      transform: skewX(-25deg);
    }
  
    .eduRight::before {
      @apply left-[-215px] w-[415px];
      transform: skewX(-25deg);
    }
  }

  .featured-playlist.wp-block-media-text {
    background-color: rgba(205, 196, 214, 0.2);
  
    h4 {
      @apply mb-4;
    }
  
    h2, h1 {
      @apply text-igb-purple !text-[64px] !leading-[1.1] font-extrabold mb-2 dark:text-igb-pink;
    }
  
    p {
      @apply text-[18px] leading-[1.5] mb-7;
    }
  }

  .curated-playlist-section {
    .curated-playlist-slider .slick-slide img {
      height: 250px !important;
    }
  }

  .curated-playlist-slide {
    @apply relative rounded-[3px] overflow-hidden;
  
    span {
      @apply absolute top-[50%] left-[50%] text-lg font-extrabold leading-normal text-white;
      transform: translate(-50%, -50%);
    }
  
    .overlay {
      @apply absolute top-0 left-0 w-full h-full rounded-[3px] overflow-hidden;
    }
  } 

  .term-of-the-day-block {
    @apply px-[40px] pr-[100px];
  }

  .wp-block-igb-theme-featured-program-slider {
    @apply mb-[6rem] relative;
  
    .featured-program-slide {
      min-height: calc(100vh - 165px);
    }

    .button-wrapper {
      @apply absolute right-[40px] bottom-0;
    }
  }

  .featured-blog-wrapper {
    @apply relative px-[40px];

    .image-container {
      @apply pt-[66%] max-h-[900px];
    }

    .featured-blog-section {
      @apply absolute bottom-0 right-0;
      mask-image: url(../theme/mask/featured-blog.svg);
      width: 910px;
      height: 432px;
    }

    h4 {
      @apply mb-4;
    }

    h2 {
      @apply text-[4rem] mb-4;
    }

    p {
      @apply text-[16px];
    }
  }

  .popular-browse-terms  {
    .associated-post-tag {
      span{
        font-size: 16px;
      }
    }

    .associated-post-tag-more-link {
      span {
        @apply text-[16px];
      }
    }
  }
}



