.post-tags {
  @apply col-auto grid max-w-[400px] lg:max-w-[60%] grid-flow-col gap-x-3 overflow-hidden whitespace-nowrap;
}

.post-tag {
  @apply relative -mx-1 flex h-auto flex-grow justify-center rounded-sm px-4 py-2 font-semibold lowercase skew-x-[-30deg] text-white;
  height: 42px;
  span {
    @apply inline-flex skew-x-[30deg];
  }

  &:first-child {
    @apply -ml-[12px] flex-shrink;
  }

  &:last-child {
    @apply -mr-[12px] flex-shrink;
  }
}

.post-tag-more-link {
  @apply border border-2 border-igb-purple bg-white text-igb-purple text-center text-3xl relative; 

  height: 42px;
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
  max-width: 80px;
  padding-left: 15px;
  line-height: 23px;
  margin-left: -16px;

  &::before {
    content: '';
    @apply absolute bg-igb-purple;
    width: 2px; 
    content: '';
    width: 2px;
    top: -12px;
    left: 6px;
    height: 200%;
    --tw-bg-opacity: 1;
    background-color: rgb(81 43 103 / var(--tw-bg-opacity));
    transform: rotate(30deg);
  }
}



.popover-modal {
  display: none;
}

.webui-popover {
  @apply dark:border-[#333233];

  &.in {
    padding: 0;
  }

  &.right .webui-arrow::after {
    @apply dark:border-r-[#333233];
  }

  &.left .webui-arrow::after {
    @apply dark:border-l-[#333233];
  }

  &.top .webui-arrow::after {
    @apply dark:border-t-[#333233];
  }

  &.bottom .webui-arrow::after {
    @apply dark:border-b-[#333233];
  }
  
  .webui-popover-content {
    @apply dark:bg-igb-darkmode-gray dark:text-white;
  } 

  .popover-body {
    p {
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    a {
      text-wrap: nowrap;
    }
  }
}

.info-and-share-section {
  .associated-post-tag-more-link span {
    top: -14px;
    left: 15px;
  }
}