/*
 *
 *	Variabiles
 *
 */
/*
 * Theme definitions
 *
 * usage:
 *		[[SELECTOR]] {
 *			@include themify($themes) {
 *				[[PROPERTY]]]: themed('nameFromThemeDecloration');
 *			}
 *		}
 */
/*
 * Poppins
 *	200 - extra light
 *	300 - light
 *	500 - medium
 *	600 - semibold
 *	700 - bold
 *	800 - extra bold
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,200;1,300;1,500;1,600;1,700;1,800&display=swap");
/*
 * mixins, functions, animations, etc.
 */
/*
* Implementation of themes
*/
@keyframes dash {
  0% {
    opacity: 0;
    stroke-dashoffset: 280;
  }
  40% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
/*
* general styles
*
*	1. core elements, html, body
*	2. reusable styles, a11y, etc.
*	2. links & buttons
*	3. base body text & headings
*	4. SVG line things
*	5. SVG masks
*
*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: clamp(1rem, 0.87vw + 0.78rem, 1.81rem);
  max-width: 100vw;
  overflow-x: hidden;
}
body.preload * {
  transition: none !important;
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
}
body.preload .svg_line {
  stroke-dashoffset: 280;
}
body:not(.preload) {
  transition: background-color 200ms ease-in-out;
}
body:not(.preload) a,
body:not(.preload) :after {
  transition: all 250ms ease-in-out;
}
body:not(.preload) *[class^=logo_] {
  transition: all 300ms ease-in-out;
}
body.theme-light {
  background: #ffffff;
  color: #292929;
}
body.theme-dark {
  background: #292929;
  color: #ffffff;
}

.hide-this {
  height: 0;
  width: 0;
  overflow: hidden;
  padding: 0;
  display: none;
}

.sr-only {
  position: absolute;
  height: 0;
  overflow: hidden;
}

.flex-row {
  display: flex;
}

.theme-light .background-IGB_Purple {
  background: #5e3a7e;
}
.theme-dark .background-IGB_Purple {
  background: #a662e2;
}

.theme-light .background-IGB_Pink {
  background: #f2566e;
}
.theme-dark .background-IGB_Pink {
  background: #f2566e;
}

.theme-light .background-IGB_Blue {
  background: #45acce;
}
.theme-dark .background-IGB_Blue {
  background: #3dcaf9;
}

.theme-light .background-IGB_Yellow {
  background: #fbad41;
}
.theme-dark .background-IGB_Yellow {
  background: #fbad41;
}

.theme-light .background-IGB_Dark {
  background: #414141;
}
.theme-dark .background-IGB_Dark {
  background: #d6d6d6;
}

.theme-light .background-subtle_grey {
  background: #F5F3F7;
}
.theme-dark .background-subtle_grey {
  background: #414141;
}

.theme-light .background-subtle_purple {
  background: #F5F3F7;
}
.theme-dark .background-subtle_purple {
  background: #42344F;
}

.theme-light .background-subtle_pink {
  background: #FFEDEF;
}
.theme-dark .background-subtle_pink {
  background: #473134;
}

.theme-light .background-subtle_blue {
  background: #F2F8FA;
}
.theme-dark .background-subtle_blue {
  background: #303F44;
}

.theme-light .background-subtle_yellow {
  background: #FFF7EC;
}
.theme-dark .background-subtle_yellow {
  background: #665741;
}

a,
a:visited {
  font-weight: 500;
}
.theme-light a,
.theme-light a:visited {
  color: #45acce;
  text-decoration-color: rgba(69, 172, 206, 0.5);
}
.theme-dark a,
.theme-dark a:visited {
  color: #fbad41;
  text-decoration-color: rgba(251, 173, 65, 0.5);
}
.theme-light a:hover, .theme-light a:target, .theme-light a:focus,
.theme-light a:visited:hover,
.theme-light a:visited:target,
.theme-light a:visited:focus {
  color: #5e3a7e;
  text-decoration-color: #45acce;
}
.theme-dark a:hover, .theme-dark a:target, .theme-dark a:focus,
.theme-dark a:visited:hover,
.theme-dark a:visited:target,
.theme-dark a:visited:focus {
  color: #fb657b;
  text-decoration-color: #fbad41;
}

#main .wp-element-button,
#main .wp-block-button__link,
#main .primary_button {
  display: inline-block;
  border-radius: 3px;
  position: relative;
  padding: 0.8em 2em;
  background-color: transparent;
  margin-left: 0.5em;
}
.theme-light #main .wp-element-button,
.theme-light #main .wp-block-button__link,
.theme-light #main .primary_button {
  color: #ffffff;
}
.theme-dark #main .wp-element-button,
.theme-dark #main .wp-block-button__link,
.theme-dark #main .primary_button {
  color: #ffffff;
}
#main .wp-element-button:after,
#main .wp-block-button__link:after,
#main .primary_button:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: skew(-18deg);
  -webkit-backface-visibility: hidden;
  z-index: -1;
  border-radius: 3px;
}
.theme-light #main .wp-element-button:after,
.theme-light #main .wp-block-button__link:after,
.theme-light #main .primary_button:after {
  background-color: #45acce;
  border: 2px solid transparent;
}
.theme-dark #main .wp-element-button:after,
.theme-dark #main .wp-block-button__link:after,
.theme-dark #main .primary_button:after {
  background-color: #45acce;
  border: 2px solid transparent;
}
.theme-light #main .wp-element-button:hover, .theme-light #main .wp-element-button:focus,
.theme-light #main .wp-block-button__link:hover,
.theme-light #main .wp-block-button__link:focus,
.theme-light #main .primary_button:hover,
.theme-light #main .primary_button:focus {
  color: #000000;
}
.theme-dark #main .wp-element-button:hover, .theme-dark #main .wp-element-button:focus,
.theme-dark #main .wp-block-button__link:hover,
.theme-dark #main .wp-block-button__link:focus,
.theme-dark #main .primary_button:hover,
.theme-dark #main .primary_button:focus {
  color: #000000;
}
.theme-light #main .wp-element-button:hover:after, .theme-light #main .wp-element-button:focus:after,
.theme-light #main .wp-block-button__link:hover:after,
.theme-light #main .wp-block-button__link:focus:after,
.theme-light #main .primary_button:hover:after,
.theme-light #main .primary_button:focus:after {
  background-color: #f2566e;
}
.theme-dark #main .wp-element-button:hover:after, .theme-dark #main .wp-element-button:focus:after,
.theme-dark #main .wp-block-button__link:hover:after,
.theme-dark #main .wp-block-button__link:focus:after,
.theme-dark #main .primary_button:hover:after,
.theme-dark #main .primary_button:focus:after {
  background-color: #f2566e;
}

.safe-exit-button {
  position: fixed;
  top: 160px;
  display: flex;
  right: 0;
  z-index: 999999999;
  filter: drop-shadow(0 1px 1px rgba(50, 50, 0, 0.75));
}
@media (max-width: 600px) {
  .safe-exit-button {
    top: 70px;
  }
}
.safe-exit-button a,
.safe-exit-button a:visited {
  display: inline-block;
  clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
  padding: 0.65em 1.1em 0.45em 2.15em;
}
.theme-light .safe-exit-button a,
.theme-light .safe-exit-button a:visited {
  background: #f2566e;
  color: #ffffff;
}
.theme-dark .safe-exit-button a,
.theme-dark .safe-exit-button a:visited {
  background: #f2566e;
  color: #ffffff;
}
.theme-light .safe-exit-button a:hover, .theme-light .safe-exit-button a:target, .theme-light .safe-exit-button a:focus,
.theme-light .safe-exit-button a:visited:hover,
.theme-light .safe-exit-button a:visited:target,
.theme-light .safe-exit-button a:visited:focus {
  background: #5e3a7e;
  color: #ffffff;
}
.theme-dark .safe-exit-button a:hover, .theme-dark .safe-exit-button a:target, .theme-dark .safe-exit-button a:focus,
.theme-dark .safe-exit-button a:visited:hover,
.theme-dark .safe-exit-button a:visited:target,
.theme-dark .safe-exit-button a:visited:focus {
  background: #5e3a7e;
  color: #ffffff;
}
.safe-exit-button a svg,
.safe-exit-button a:visited svg {
  margin-left: 2px;
  padding-left: 2px;
}

p {
  max-width: 90ch;
}

h1 {
  font-size: clamp(1.51rem, 4.95vw + 0.29rem, 6.2rem);
  line-height: 1.08;
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 0;
}

h2 {
  font-size: clamp(1.4rem, 4.31vw + 0.39rem, 5rem);
  line-height: 1;
  font-weight: 700;
  margin-top: 0.5em;
}

h3 {
  font-size: clamp(1.33rem, 3.03vw + 0.57rem, 4.17rem);
  line-height: 1;
  font-weight: 700;
  margin-top: 0.5em;
}

h4 {
  font-size: clamp(1.21rem, 2.08vw + 0.69rem, 3.16rem);
  line-height: 1;
  font-weight: 500;
  margin-top: 0.5em;
}

h5 {
  font-size: clamp(1.1rem, 1.38vw + 0.76rem, 2.39rem);
  line-height: 1;
  font-weight: 300;
  margin-top: 0.5em;
}

h6 {
  font-size: clamp(1rem, 0.87vw + 0.78rem, 1.81rem);
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0.5em;
}

use {
  padding: 0;
  width: 100%;
  border: 2px solid #0f0;
  display: block;
}

.feature_frame {
  width: 50%;
  height: auto;
}

.svg_line {
  fill: transparent;
  stroke-width: 3.4%;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-dasharray: 250;
  animation: dash 2.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.svg_line:nth-of-type(2) {
  animation-delay: 100ms;
}
.svg_line:nth-of-type(3) {
  animation-delay: 140ms;
}
.svg_line.thin_line {
  stroke-width: 0.3rem;
}
.svg_line.blue {
  stroke: #45acce;
}
.svg_line.pink {
  stroke: #f2566e;
}
.svg_line.purple {
  stroke: #5e3a7e;
}
.svg_line.yellow {
  stroke: #fbad41;
}

.masked_image_container_single {
  -webkit-clip-path: url(#image_mask_slash);
  clip-path: url(#image_mask_slash);
}
.masked_image_container_single img,
.masked_image_container_single video {
  height: 100%;
  object-fit: cover;
}

.masked_image_container_double {
  -webkit-clip-path: url(#image_mask_double_slash);
  clip-path: url(#image_mask_double_slash);
  margin: -2% 0;
}
.masked_image_container_double img,
.masked_image_container_double video {
  height: 100%;
  object-fit: cover;
}

#page.sticky-container {
  position: relative;
}

#content {
  max-width: 100vw;
}

.full_width {
  width: 100%;
  max-width: 100vw;
}

.wide_width {
  width: 96vw;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.contained_width {
  width: 85vw;
  max-width: 90ch;
  margin-left: auto;
  margin-right: auto;
}

.two_column {
  display: flex;
  justify-content: space-between;
}
.two_column > * {
  width: 48%;
  padding: 2rem;
}
.two_column > * * {
  max-width: 100%;
}
@media (max-width: 900px) {
  .two_column {
    display: block;
  }
  .two_column > * {
    width: 100%;
  }
}

body.home #content {
  position: relative;
  top: 0;
}
body.home .featured_video {
  text-align: center;
}
body.home .featured_video h2,
body.home .featured_video h3,
body.home .featured_video h4,
body.home .featured_video h5,
body.home .featured_video h6 {
  max-width: 30ch;
  margin: 0.5em auto 1em auto;
}

/*
* header styles
*
*	1. core site header styles
*	2. IGB logo
*	3. light/dark toggle switch
*	4. main nav toggle button
*
*/
.site_main_header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 0;
  min-height: 90px;
  z-index: 99999;
  padding: 0.75rem 1.5em;
  transition: all 250ms ease-in-out;
}
.site_main_header.smaller {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);
  padding: 0.5rem 1.5em;
}
.theme-light .site_main_header.smaller {
  background: rgba(255, 255, 255, 0.79);
  color: #292929;
}
.theme-dark .site_main_header.smaller {
  background: rgba(41, 41, 41, 0.79);
  color: #ffffff;
}
@media (max-width: 600px) {
  .site_main_header.smaller {
    min-height: 67px;
  }
}
.menu_is_open .site_main_header.smaller {
  background: transparent;
  box-shadow: none;
  color: #ffffff;
}
.menu_is_open .site_main_header {
  color: #ffffff;
}
.site_main_header .flex-row {
  justify-content: space-between;
  align-items: stretch;
}
.site_main_header .header_right_side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .site_main_header .header_right_side {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }
}
.site_main_header .header_right_side nav {
  margin: auto;
}

#IGB_MAIN_LOGO {
  max-width: 20vw;
  width: 200px;
  padding: 1rem 0;
  transition: all 200ms ease-in-out;
  z-index: 99999;
}
.smaller #IGB_MAIN_LOGO {
  width: 130px;
  max-width: 20vw;
  margin-bottom: -0.5em;
}
#IGB_MAIN_LOGO svg {
  max-width: 100%;
  height: auto;
}

.theme-light .logo_purple {
  fill: #5e3a7e;
  stroke: #5e3a7e;
  stroke-width: 0.2;
}
.theme-dark .logo_purple {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0.2;
}
.menu_is_open .logo_purple {
  fill: #ffffff;
  stroke: #ffffff;
}

.theme-light .logo_blue {
  fill: #45acce;
  stroke: #45acce;
  stroke-width: 0.2;
}
.theme-dark .logo_blue {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0.2;
}
.menu_is_open .logo_blue {
  fill: #ffffff;
  stroke: #ffffff;
}

.theme-light .logo_pink {
  fill: #f2566e;
  stroke: #f2566e;
  stroke-width: 0.2;
}
.theme-dark .logo_pink {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0.2;
}
.menu_is_open .logo_pink {
  fill: #ffffff;
  stroke: #ffffff;
}

.theme-light .logo_yellow {
  fill: #fbad41;
  stroke: #fbad41;
  stroke-width: 0.2;
}
.theme-dark .logo_yellow {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0.2;
}
.menu_is_open .logo_yellow {
  fill: #ffffff;
  stroke: #ffffff;
}

label.dark-toggle {
  display: flex;
  justify-content: space-evenly;
}
label.dark-toggle > span {
  display: inline-block;
  padding: 0 0.5em;
}
label.dark-toggle input[type=checkbox] {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

.dark-toggle__switch {
  --width: 44px;
  --height: 24px;
  --padding: 4px;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: black;
  width: var(--width);
  height: var(--height);
  border: 1px solid white;
  border-radius: 1rem;
}
.dark-toggle__switch:focus {
  box-shadow: 0 0 0 2px white;
}
.dark-toggle__switch:before {
  content: "";
  position: absolute;
  z-index: 3;
  display: inline-block;
  background-color: white;
  width: calc(var(--height) - var(--padding) - var(--padding));
  height: calc(var(--height) - var(--padding) - var(--padding));
  top: 50%;
  left: var(--padding);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.25s ease-in-out;
}
.preload .dark-toggle__switch:before {
  transition: none;
}
input:checked + .dark-toggle__switch:before {
  transform: translateY(-50%) translateX(calc(var(--width) / 2 - var(--padding) / 2));
}
.dark-toggle__switch:after {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  display: inline-block;
  background-color: black;
  transition: all 0.25s ease-in-out;
  transform: translateY(-50%);
  width: 1px;
  height: 1px;
  border-radius: 50%;
}
.preload .dark-toggle__switch:after {
  transition: none;
}
body.theme-dark .dark-toggle__switch:after {
  z-index: 4;
  width: calc(var(--width) * 0.7);
  height: calc(var(--width) * 0.7);
}

#menu_toggle_button {
  width: 55px;
  height: 55px;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  z-index: 9999;
  background: transparent;
}
.theme-light #menu_toggle_button {
  color: #292929;
}
.theme-dark #menu_toggle_button {
  color: #ffffff;
}
.menu_is_open #menu_toggle_button {
  color: #ffffff;
}
@media (max-width: 600px) {
  #menu_toggle_button {
    padding: 10px;
    border: 2px solid currentColor;
  }
}
#menu_toggle_button:hover, #menu_toggle_button:target {
  border: 2px solid currentColor;
}
#menu_toggle_button .menu_line {
  transition: all 200ms ease-in-out;
  stroke-width: 3;
}
.theme-light #menu_toggle_button .menu_line {
  stroke: #292929;
}
.theme-dark #menu_toggle_button .menu_line {
  stroke: #ffffff;
}
.menu_is_open #menu_toggle_button .menu_line {
  stroke: #ffffff;
}
#menu_toggle_button.menu_open .middle_line {
  opacity: 0;
}

/**
 * main nav
 *
*/
#site_utility_nav {
  align-self: center;
  flex: 1;
  padding: 0.25em 1em 0.25em 0;
  margin: -1.5em 3em 0 3em;
  font-size: clamp(0.91rem, 0.49vw + 0.79rem, 1.37rem);
  transition: all 450ms ease-in-out;
  transition-delay: 0.5s;
}
.theme-light #site_utility_nav {
  background-image: linear-gradient(118deg, rgba(94, 58, 126, 0) 0, rgba(94, 58, 126, 0) 4%, #5e3a7e 4.1%, #5e3a7e 65%, rgba(94, 58, 126, 0) 98%);
}
.theme-dark #site_utility_nav {
  background-image: linear-gradient(118deg, rgba(94, 58, 126, 0) 0, rgba(94, 58, 126, 0) 4%, #5e3a7e 4.1%, #5e3a7e 65%, rgba(94, 58, 126, 0) 98%);
}
#site_utility_nav.hidden {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  margin: 0;
  transition: all 150ms linear;
  transition-delay: 0s;
}
#site_utility_nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#site_utility_nav li {
  flex: 1;
}
#site_utility_nav li a,
#site_utility_nav li a:visited {
  display: block;
  text-decoration: none;
  text-align: center;
}
.theme-light #site_utility_nav li a,
.theme-light #site_utility_nav li a:visited {
  color: #ffffff;
}
.theme-dark #site_utility_nav li a,
.theme-dark #site_utility_nav li a:visited {
  color: #ffffff;
}
.theme-light #site_utility_nav li a:hover, .theme-light #site_utility_nav li a:focus, .theme-light #site_utility_nav li a:target,
.theme-light #site_utility_nav li a:visited:hover,
.theme-light #site_utility_nav li a:visited:focus,
.theme-light #site_utility_nav li a:visited:target {
  color: #fbad41;
  background: rgba(94, 58, 126, 0.55);
}
.theme-dark #site_utility_nav li a:hover, .theme-dark #site_utility_nav li a:focus, .theme-dark #site_utility_nav li a:target,
.theme-dark #site_utility_nav li a:visited:hover,
.theme-dark #site_utility_nav li a:visited:focus,
.theme-dark #site_utility_nav li a:visited:target {
  color: #fbad41;
  background: rgba(41, 41, 41, 0.55);
}
#site_utility_nav li.donate-button a,
#site_utility_nav li.donate-button a:visited {
  margin: -0.5em 0;
  padding: 0.5em;
  border-radius: 4px;
}
.theme-light #site_utility_nav li.donate-button a,
.theme-light #site_utility_nav li.donate-button a:visited {
  background: #f2566e;
}
.theme-dark #site_utility_nav li.donate-button a,
.theme-dark #site_utility_nav li.donate-button a:visited {
  background: #f2566e;
}

nav.two-column {
  display: flex;
  height: 100%;
}
nav.two-column > div {
  width: 50vw;
  position: relative;
}
nav.two-column > div.right-column {
  overflow: hidden;
}

#site_main_navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
#site_main_navigation:before, #site_main_navigation:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  border-bottom-left-radius: 200%;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transform: translateX(100%) translateY(-100%);
  z-index: -1;
}
.theme-light #site_main_navigation:before, .theme-light #site_main_navigation:after {
  background: rgba(94, 58, 126, 0.75);
}
.theme-dark #site_main_navigation:before, .theme-dark #site_main_navigation:after {
  background: rgba(41, 41, 41, 0.75);
}
#site_main_navigation:after {
  transition-delay: 0s;
}
#site_main_navigation:before {
  transition-delay: 0.2s;
}
#site_main_navigation ul, #site_main_navigation li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#site_main_navigation a,
#site_main_navigation a:visited {
  text-decoration: none;
}
.theme-light #site_main_navigation a,
.theme-light #site_main_navigation a:visited {
  color: #ffffff;
}
.theme-dark #site_main_navigation a,
.theme-dark #site_main_navigation a:visited {
  color: #ffffff;
}
.theme-light #site_main_navigation a:hover, .theme-light #site_main_navigation a:focus,
.theme-light #site_main_navigation a:visited:hover,
.theme-light #site_main_navigation a:visited:focus {
  color: #fbad41;
}
.theme-dark #site_main_navigation a:hover, .theme-dark #site_main_navigation a:focus,
.theme-dark #site_main_navigation a:visited:hover,
.theme-dark #site_main_navigation a:visited:focus {
  color: #fbad41;
}
.menu_is_open #site_main_navigation {
  visibility: visible;
}
.menu_is_open #site_main_navigation:before, .menu_is_open #site_main_navigation:after {
  transform: translateX(0%) translateY(0%);
  border-radius: 0;
}
.menu_is_open #site_main_navigation:after {
  transition-delay: 0.1s;
}
.menu_is_open #site_main_navigation:before {
  transition-delay: 0s;
}
#site_main_navigation ul#menu-main-navigation {
  position: fixed;
  visibility: hidden;
  bottom: 0;
  width: 100%;
  transition-delay: 0.4s;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
@media (max-width: 600px) {
  #site_main_navigation ul#menu-main-navigation {
    height: calc(100vh - 70px);
  }
}
@media (min-width: 900px) {
  #site_main_navigation ul#menu-main-navigation {
    height: calc(100vh - 110px);
    width: 50vw;
  }
}
@media (min-width: 1200px) {
  #site_main_navigation ul#menu-main-navigation {
    height: calc(100vh - 130px);
  }
}
#site_main_navigation ul#menu-main-navigation > li.menu-item {
  opacity: 0;
  font-weight: 900;
  line-height: 1.15;
  transform: translate(100px, 0%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  margin-top: 0;
  margin-bottom: 0;
  flex: 1;
}
.menu_is_open #site_main_navigation ul#menu-main-navigation > li.menu-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.7s ease, transform 1s ease;
}
.menu_is_open #site_main_navigation ul#menu-main-navigation {
  visibility: visible;
}

#site_main_navigation {
  font-size: clamp(1.1rem, 1.38vw + 0.76rem, 2.39rem);
  line-height: 1;
  font-weight: 500;
}
@media (min-width: 900px) {
  #site_main_navigation > ul {
    width: 50vw;
  }
}
#site_main_navigation .larger img {
  max-height: none;
}
#site_main_navigation .larger a,
#site_main_navigation .larger a:visited {
  font-size: clamp(1.33rem, 3.03vw + 0.57rem, 4.17rem);
  font-weight: 700;
}
#site_main_navigation img {
  max-height: 13vh;
  height: 100%;
  width: 150px;
  max-width: 25vw;
  object-fit: contain;
  object-position: center bottom;
  overflow: visible;
  margin: 1px -0.5em -1px -1em;
  align-self: flex-end;
}
@media (min-width: 900px) {
  #site_main_navigation img {
    max-width: 200px;
  }
}
#site_main_navigation ul#menu-main-navigation > li.menu-item {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding: 0;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-size: 200% 100%;
  background-position: 80% 0;
  transition: all 200ms ease-in-out;
}
.theme-light #site_main_navigation ul#menu-main-navigation > li.menu-item {
  background-image: linear-gradient(90deg, #442a5b 40%, rgba(94, 58, 126, 0) 60%);
}
.theme-dark #site_main_navigation ul#menu-main-navigation > li.menu-item {
  background-image: linear-gradient(90deg, #442a5b 40%, rgba(41, 41, 41, 0) 60%);
}
@media (min-width: 900px) {
  #site_main_navigation ul#menu-main-navigation > li.menu-item {
    padding: 0 0 0 2em;
    width: 50vw;
  }
}
.theme-light #site_main_navigation ul#menu-main-navigation > li.menu-item:hover {
  background: rgba(68, 42, 91, 0.9);
}
.theme-dark #site_main_navigation ul#menu-main-navigation > li.menu-item:hover {
  background: rgba(68, 42, 91, 0.9);
}
#site_main_navigation ul#menu-main-navigation > li.menu-item a {
  display: flex;
  align-items: center;
}
#site_main_navigation ul#menu-main-navigation > li.menu-item a + a {
  padding: 1em;
  flex: 1;
  text-align: left;
}
#site_main_navigation ul#menu-main-navigation > li.menu-item a.dropdown_toggle {
  flex: none;
  border-left: 1px solid rgba(255, 255, 255, 0.32);
  text-align: center;
  width: 100px;
}
#site_main_navigation ul#menu-main-navigation > li.menu-item a.dropdown_toggle.open svg {
  transform: rotate(0deg);
}
#site_main_navigation ul#menu-main-navigation > li.menu-item a.dropdown_toggle svg {
  margin: auto;
  transform: rotate(-180deg);
  transition: all 250ms ease-in-out;
}
.theme-light #site_main_navigation ul#menu-main-navigation > li.menu-item a.dropdown_toggle:hover {
  background: #51326d;
}
.theme-dark #site_main_navigation ul#menu-main-navigation > li.menu-item a.dropdown_toggle:hover {
  background: #51326d;
}
@media (min-width: 900px) {
  #site_main_navigation .mobile_only {
    display: none;
  }
}

ul.sub-menu {
  flex-direction: column;
  font-size: clamp(1rem, 0.87vw + 0.78rem, 1.81rem);
  display: none;
  margin: 0;
  padding: 0;
}
ul.sub-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 500px;
  height: calc(100vh - 500px);
}
ul#menu-main-navigation ul.sub-menu.active {
  display: none;
}
ul.sub-menu > * {
  flex: 1;
}
ul.sub-menu a {
  padding: 0.5em 2em;
}

ul.term_list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
  flex-flow: row wrap;
}
ul.term_list .term {
  flex-grow: 1;
  text-align: center;
  margin: 0 -9px;
  padding: 0 9px 0 1px;
  border: 1px solid;
  transform: skewX(-26deg);
}
.theme-light ul.term_list .term {
  border-color: #292929;
}
.theme-dark ul.term_list .term {
  border-color: #ffffff;
}
ul.term_list .term:last-of-type, ul.term_list .term:nth-last-of-type(2) {
  padding-right: 0;
}
ul.term_list .term.more_terms {
  margin: 0 11px -1px 11px;
}
.theme-light ul.term_list .term.more_terms a {
  color: #292929;
}
.theme-dark ul.term_list .term.more_terms a {
  color: #ffffff;
}
.theme-light ul.term_list .term.more_terms a:hover, .theme-light ul.term_list .term.more_terms a:focus, .theme-light ul.term_list .term.more_terms a:target {
  color: #ffffff;
}
.theme-dark ul.term_list .term.more_terms a:hover, .theme-dark ul.term_list .term.more_terms a:focus, .theme-dark ul.term_list .term.more_terms a:target {
  color: #292929;
}
ul.term_list a {
  display: block;
  padding: 0.5em 1.75em;
  text-decoration: none;
  border: 2px solid transparent;
}
.theme-light ul.term_list a {
  color: #ffffff;
}
.theme-dark ul.term_list a {
  color: #292929;
}
.theme-light ul.term_list a:hover, .theme-light ul.term_list a:focus, .theme-light ul.term_list a:target {
  background: rgba(41, 41, 41, 0.7);
  border-color: #ffffff;
}
.theme-dark ul.term_list a:hover, .theme-dark ul.term_list a:focus, .theme-dark ul.term_list a:target {
  background: rgba(255, 255, 255, 0.7);
  border-color: #292929;
}
ul.term_list a span {
  display: block;
  transform: skewX(26deg);
}

.section_hero {
  display: flex;
  width: 100%;
  max-width: 100vw;
  margin-top: -250px;
  padding-top: 150px;
}
.section_hero > div {
  width: 50%;
  padding-top: 50px;
}
.section_hero > div img, .section_hero > div svg {
  max-width: 100%;
}
.section_hero .hero_text-container {
  padding: 1.5em;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  text-wrap: balance;
}
.section_hero .hero_image-container {
  position: relative;
}
.section_hero .hero_image-container svg {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.section_hero .hero_image-container img {
  position: relative;
  z-index: 9;
  padding: 25% 15% 0 15%;
}