

.page-template-archive-glossary {
	nav.breadcrumb_navigation {
		display: none;
	}
}

sub.term_category {
	font-size: $font-size-base;
	font-weight: 500;
	@include themify($themes) {
		color: themed( 'linkColor' );
	}
}
dfn.term_category_def {
	font-style: normal;
	cursor: help;
}

footer.glossary_term_bottom_border {
	height: 5px;
}

.glossary_list {
	padding: 3em;

	.single_term {
		margin: 2em 0;
		padding: 0;
		@include themify($themes) {
			box-shadow: themed( 'normalShadow');
			background-image: linear-gradient( 171deg, themed( 'backgroundColor' ) 10%, darken( themed( 'backgroundColor' ), 4) 98% );
		}

		h3 {
			padding: 0;
		}

		header {
			padding: 0.5em 2em 0 2em;
		}
		main {
			padding: 0 2em 2em 2em;
		}

		img {
			margin: -2em -2em -2.4em -2em;
		//	height: 100%;
			width: calc( 100% + 4em );
			max-width: none !important;
			object-fit: cover;

			@include themify($themes) {
				box-shadow: themed( 'subtleShadow');
			}
		}
	}


}
a,
a:visited {
	article.single_term {
		transition: all 200ms ease-in-out;
		border: 1px solid transparent;
		border-bottom: none;


		@include themify($themes) {
			background: themed('backgroundColor');
			box-shadow: themed( 'normalShadow');
			color: themed( 'textColor' );
		}

		main {
			font-weight: 200;

			p {
				text-decoration: none !important;
			}
		}
	}

	&:hover,
	&:target,
	&:focus {
		article.single_term {
			@include themify($themes) {
				background: darken( themed( 'backgroundColor' ), 6 );
			}

			&.color-IGB_Purple {
				@include themify($themes) {
					border: 1px solid rgba( themed('accentPurple'), 0.5 );
					border-bottom: none;
				}
			}
			&.color-IGB_Pink {
				@include themify($themes) {
					border: 1px solid rgba( themed('accentPink'), 0.5 );
					border-bottom: none;
				}

			}
			&.color-IGB_Blue {
				@include themify($themes) {
					border: 1px solid rgba( themed('accentBlue'), 0.5 );
					border-bottom: none;
				}

			}
			&.color-IGB_Yellow {

				@include themify($themes) {
					border: 1px solid rgba( themed('accentYellow'), 0.5 );
					border-bottom: none;
				}
			}
			&.color-IGB_Dark {

				@include themify($themes) {
					border: 1px solid rgba( themed('accentGrey'), 0.5 );
					border-bottom: none;
				}
			}
		}
	}
};

// glossary single page


.single-glossary {
	.glossary_term_header {
		margin-top: 1em;
	}
}


.glossary_term_header {

	.two_column {
		min-height: 70vh;

		.col_two {
			width: 60%;
			align-self: stretch;
			display: flex;
			flex-direction: column;

			@include tablet-down {
				width: 100%;
				height: calc( 100vw * .65);
			}

			.video_container {
				flex: 1;
				width: 100%;
				padding: 6px;

				@include themify($themes) {
					border: 1px solid rgba( themed('textColor'), 0.5 );
					background: themed('backgroundColor');
					box-shadow: themed( 'subtleShadow');
				}
			}

			img,
			video,
			iframe {
				width: 100%;
				height: 100%;
				display: block;


			}
		}
	}
	.definition {
		font-size: $font-size-lg;

		.pronunciation {
			font-family: monospace;
			font-size: $font-size-base;
			font-weight: 200;
			letter-spacing: 2px;
		}
		span.phonetic_key {
			word-wrap: pre;
		}

		span.part_of_speech {
			font-style: italic;
		}

		.flex-row {
			align-items: center;
			justify-content: space-between;
		}
	}

	ul.term_category_list {
		list-style: none;
		font-size: $font-size-sm;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			padding: 3px;
		}
	}
}


.extended_definition {
	padding: 2em;

	> * {
		margin-left: auto;
		margin-right: auto;
	}
}