// playlist archive (loop)

article.single_playlist {
	background-repeat: no-repeat;
	background-size: auto 120%;
	margin: 3em 0 8em 0;
	background-position: 100% 50%;

	@include themify($themes) {
		box-shadow: themed('subtleShadow');
	}

	&:nth-of-type(2n) {
		background-position: 0% 50%;

		.two_column {
			flex-direction: row-reverse;
			@include themify($themes) {
				background-image: linear-gradient(  -84deg, rgba( themed( 'backgroundColor' ), 1) 35%, rgba( themed( 'backgroundColor' ), 0) 55%, );
			}
		}
	}


	.two_column {
		@include themify($themes) {
			background-image: linear-gradient( 84deg, rgba( themed( 'backgroundColor' ), 1) 35%, rgba( themed( 'backgroundColor' ), 0) 55% );
		}
	}

	.single_playlist_header {
		margin-top: -4em;


		@include themify($themes) {
			background: rgba( themed( 'backgroundColor' ), 0.985);
			box-shadow: themed('normalShadow');
		}

		h3 {
			margin: 0;
			padding: 0;

			a span.subhead {
				display: block;
				font-size: $font-size-sm;
				font-weight: 200;

				@include themify($themes) {
					text-decoration-color: transparent;
					color: themed( 'textColor' );
				}
			}
		}
		a {
			display: block;
			border-radius: 4px;
			padding: 1em;


		}
	}

	.playlist_description {
		padding: 2em;
		border-radius: 4px;
		margin-bottom: -1em;

		@include themify($themes) {
			background: rgba( themed( 'backgroundColor' ), 0.85);
			box-shadow: themed('normalShadow');
		}


	}
}

// playlist detail page
.playlist_header {
	position: relative;
	width: 100%;
	margin-top: 50px;
	height: auto;
	//min-height: 75vh;

	-webkit-mask: linear-gradient(to bottom,
					rgba(0,0,0,0.6) 100px,
					red 200px);
			mask: linear-gradient(to bottom,
					rgba(0,0,0,0.6) 100px,
					red 200px);

	.playlist_header_image {
		position: relative;

		width: 100%;
		height: 100%;
		background-size: cover;
		z-index: 2;

	}

	.playlist_header_text {
		position: relative;
		z-index: 99;
		height: 100%;
		padding: 290px 2em 19vh 2em;


		@include themify($themes) {
			background-image: linear-gradient( 34deg, rgba( themed( 'backgroundColor' ), 0.65) 45%, rgba( themed( 'backgroundColor' ), 0.05) 70%, );
			text-shadow: 0 1px 20px rgba(themed( 'textBackgroundBlurShadow' ), 0.8 ), 0 1px 2px rgba( themed( 'textShadowBelow' ), 0.9 ), -1px -1px 0 rgba( themed( 'textHighlightAbove' ), 0.99 );
		}


		.header_post_type_icon {
			background: none;
			box-shadow: none;
			margin-bottom: -1.2em;
			margin-left: -2.5em;
			padding: 0;
		}


	}


}

.playlist_details_row {
	margin-top: -15vh;
	margin-bottom: 3em;
	position: relative;
	z-index: 999;
	align-items: flex-end;
	justify-content: space-between;

	@include phone-only {
		flex-wrap: wrap;
	}


	.playlist_description {
		display: inline-block;

		font-size: $font-size-md;
		padding: 1em 2em;
		margin: -1em 2em 0 0;
		width: 60vw;
		min-width: 400px;

		@include themify($themes) {
			background: rgba( themed( 'backgroundColor' ), 0.92) ;
			box-shadow: themed('subtleShadow');
		}
	}

	.partnership {
		text-align: center;
		padding: 1em;

		@include themify($themes) {
			filter:
			//	drop-shadow( 3px 3px 1px rgba( themed( 'backgroundColor' ), 0.9 ) )
			//	drop-shadow( 3px 0 1px rgba( themed( 'backgroundColor' ), 0.9 ) )
			//	drop-shadow( -1px -2px 1px rgba( themed( 'backgroundColor' ), 0.9 ) )
			//	drop-shadow( -3px 0 0 rgba( themed( 'backgroundColor' ), 0.4 ) )
			//	drop-shadow( 1px 1px 0 rgba( themed( 'backgroundColor' ), 0.9 ) )
			//	drop-shadow( -1px -1px 0 rgba( themed( 'backgroundColor' ), 0.6 ) )

			//	drop-shadow( 0 0 3px rgba( themed( 'backgroundColor' ), 0.9 ) )
			//	drop-shadow( 0 0 3px rgba( themed( 'backgroundColor' ), 0.4 ) )
				drop-shadow( 0 0 1px rgba( themed( 'backgroundColor' ), 0.9 ) )
				drop-shadow( 0 0 9px rgba( themed( 'backgroundColor' ), 0.35 ) )

				drop-shadow( 2px 0 0 rgba( themed( 'backgroundColor' ), 0.98 ) )
				drop-shadow( 0 2px 0 rgba( themed( 'backgroundColor' ), 0.98 ) )
				drop-shadow( -2px 0 0 rgba( themed( 'backgroundColor' ), 0.98 ) )
				drop-shadow( 0 -2px 0 rgba( themed( 'backgroundColor' ), 0.98 ) )


				;
		}

		svg * {
			@include themify($themes) {
				fill: themed( 'textColor' );
			}
		}

		img {
			max-height: 90px;
			width: auto;
			max-width: 200px;
			height: auto;

			@include themify($themes) {
				color: themed( 'textColor' );
			}

			.theme-dark & {
				filter: invert(100%);
			}

			&.partner_logo {
				margin: 0.5em 1em;
			}
		}
	}
}

.series_trailer {
	position: relative;
	z-index: 999;
	margin: 7em auto;
	padding: 2em 1em;
	text-align: center;
;

	h4 {
		margin: -5em 0 0.5em 0;
	}

	iframe {
		padding: 6px;
		margin-bottom: -5em;

		@include themify($themes) {
			border: 1px solid rgba( themed('textColor'), 0.5 );
			background: themed('backgroundColor');
			box-shadow: themed( 'subtleShadow');
		}
	}
}

.episode_list_container {
	display: flex;
	flex-direction: column;
}