.icon-featured-blog-dims {
    width: 150px;
    height: 150px;
}

.icon-featured-playlist-dims {
    width: 150px;
    height: 150px;
}

.icon-featured-term-dims {
    width: 150px;
    height: 150px;
}

.icon-featured-video-dims {
    width: 150px;
    height: 150px;
}

