.icon-facebook-dims {
    width: 30px;
    height: 30px;
}

.icon-instagram-dims {
    width: 30px;
    height: 30px;
}

.icon-instagramES-dims {
    width: 30px;
    height: 30px;
}

.icon-linkedin-dims {
    width: 30px;
    height: 30px;
}

.icon-tiktok-dims {
    width: 30px;
    height: 30px;
}

.icon-tumblr-dims {
    width: 30px;
    height: 30px;
}

.icon-twitch-dims {
    width: 30px;
    height: 30px;
}

.icon-youtube-dims {
    width: 30px;
    height: 30px;
}

