.icon-content_type-eduguide-dims {
    width: 150px;
    height: 150px;
}

.icon-content_type-playlist-dims {
    width: 150px;
    height: 150px;
}

.icon-content_type-post-dims {
    width: 150px;
    height: 150px;
}

.icon-content_type-term-dims {
    width: 150px;
    height: 150px;
}

.icon-content_type-video-dims {
    width: 150px;
    height: 150px;
}

